<div class="block form requirements">
	<%= form_for([:admin,@course,@lab,@requirement], remote: true) do |f| %>
		<%= show_error_messages_for @requirement %>
		<ol>
			<li><div class="details"><%= f.label :description %><p></p></div><div class="field"><%= f.text_area :description %></div></li>
			<li><div class="details"><%= f.label :points %><p></p></div><div class="field"><%= f.text_field :points %></div></li>
			<li class="submit_bar">
				<%= f.submit %>
			</li>
		</ol>
	<% end %>
</div>
