<tr id="<%= requirement.id.to_s %>">
  <td><%= requirement.description %></td>
  <td><%= requirement.points %></td>
  <td class="edit"><%= link_to 'Edit', xxx@xxx.xxx %></td>
  <td class="destroy"><%= link_to 'Destroy', xxx@xxx.xxx confirm: 'Are you sure?', method: :delete %></td>
</tr>
