<tr id="<%= requirement.id.to_s %>">
  <td>
      <%= requirement.description %>
      <br/><br/>
      <span class="edit"><%= link_to 'Edit', edit_admin_course_lab_requirement_path(@course,@lab,requirement) %></span> |
      <span class="destroy"><%= link_to 'Destroy', [:admin,@course,@lab,requirement], data: {confirm: 'Are you sure?'}, method: :delete, remote: true %></span>
  </td>
  <td>
    <%= requirement.points %>
  </td>
</tr>
