<div class="block <%= double_width_if_main(defined? main) %>">
	<h2>
		<%= link_to semester.name, semester_sections_path(semester) %>
		<% if semester == Semester.current %>
			(current)
		<% end %>
	</h2>
	<p><%= show_short_date(semester.start_date) %> - <%= show_short_date(semester.end_date) %></p>
	<p><%= pluralize semester.sections.count, "section" %></p>
</div>
