<div class="block semesters <%= double_width_if_main(defined? main) %>">
	<header>
		<%= link_to semester_sections_path(semester) do %>

			<h2>
				<%= semester.name %>
				<% if semester == Semester.current %>
					(current)
				<% end %>
			</h2>
		<% end %>
	</header>
	
	<p><%= show_short_date(semester.start_date) %> - <%= show_short_date(semester.end_date) %></p>
</div>
