<%= content_for :header do %>
	<h1>Semesters</h1>
<% end %>

<nav>
	<h1>Navigation</h1>
	<ul>
		<li><%= link_to '/' do %> <%= render :partial => 'shared/back_link' %> <% end %></li>
	</ul>
</nav>

<section>
	<h1>All Semesters</h1>
	<ul>
		<% for semester xxx@xxx.xxx %>
			<li>
				<%= link_to semester_sections_path( semester ) do %>
						<h2><%= semester.name %></h2>
						<% if semester == Semester.current %>
							(current)
						<% end %>
					<%= show_short_date semester.start_date %> thru <%= show_short_date semester.end_date %>
				<% end %>
			</li>
		<% end %>
	</ul>
</section>
