<%= content_for :header do %>
	<h1>Enrollment Statuses</h1>
	<h4>Listing all possible statuses</h4>
<% end %>

<nav>
		<li><%= link_to '/admin' do %> <%= render :partial => "shared/back_link" %> <% end %></li>
		<li><%= link_to new_admin_enrollment_status_path do %> <%= render :partial => "shared/new_link" %> <% end %></li>
	</nav>

<div class="fancy">
	<table>
	  <tr>
	    <th>Name</th>

		<th></th>
		<th></th>
	  </tr>

	<% for enrollment_status xxx@xxx.xxx %>
	  <tr>
	    <td><%= enrollment_status.name %></td>
	    <td class="nav"><%= link_to 'Edit', edit_admin_enrollment_status_path(enrollment_status) %></td>
	    <td class="nav"><%= link_to 'Destroy', [:admin,enrollment_status], :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
	</table>
</div>
