<%= content_for :header do %>
	<h1>Enrollment Statuses</h1>
<% end %>

<section>
	<nav>
		<%= link_to "Back", '/admin', class: "icon back" %>
	</nav>
	
	<header>
		<p>Listing all</p>
		<h1>Enrollment Statuses</h1>
	</header>

	<ul class="actions">
		<li><%= link_to "Create a New Enrollment Status", new_admin_enrollment_status_path %></li>
	</ul>

	<div class="fancy">
		<table>
		  <tr>
		    <th>Name</th>

			<th></th>
			<th></th>
		  </tr>

		<% for enrollment_status xxx@xxx.xxx %>
		  <tr>
		    <td><%= enrollment_status.name %></td>
		    <td class="edit"><%= link_to 'Edit', edit_admin_enrollment_status_path(enrollment_status) %></td>
		    <td class="destroy"><%= link_to 'Destroy', [:admin,enrollment_status], confirm: 'Are you sure?', method: :delete %></td>
		  </tr>
		<% end %>
		</table>
	</div>
</section>
