<script type="text/javascript" charset="utf-8">
	$(document).ready(function( ) {	
		$("#tutorials").reorderTable( "<%= xxx@xxx.xxx ) %>", "<%= form_authenticity_token %>" );
	});
</script>

<%= content_for :header do %>
xxx@xxx.xxx %></h1>
<% end %>

<section>
	<nav>
		<%= link_to 'Back', xxx@xxx.xxx ), class: "icon back" %>
	</nav>

	<header>
		<p>Tutorials for</p>
xxx@xxx.xxx %></h1>
	</header>
	
	<ul class="actions">
		<li><%= link_to "Modify How To's", admin_how_tos_path %></li>
	</ul>

	<div class="fancy">
		<table>
			<thead>
				<tr>
					<th>HowTo</th>
				</tr>
			</thead>
			<tbody id="tutorials">
				<% for tutorial xxx@xxx.xxx %>
					<%= render partial: tutorial %>
				<% end %>
			</tbody>
		</table>
	</div>
	
	<ul id="how_tos" class="actions">
xxx@xxx.xxx do |how_to| %>
			<% if xxx@xxx.xxx how_to.id]).first %>
				<%= render partial: how_to %>
			<% end %>
		<% end %>
	</ul>
</section>
