<div class="block books">
	<header>
	  <p><%= book.title %></p>
		<h4>Book</h4>
  </header>

	<ul>
		<li class="icon"><%= link_to xxx@xxx.xxx {class: "icon icon-note", title: "Edit"} do %><span class="text_label">Edit</span><% end %></li>
		<li class="icon"><%= link_to xxx@xxx.xxx {class: "icon icon-trash", title: "Destroy", data: {confirm: 'Are you sure?', method: :delete, remote: true}} do %><span class="text_label">Destroy</span><% end %></li>
	</ul>

  <p>
		required: <%= book.required %><br/>
		by: <%= book.author %><br/>
		publisher: <%= book.publisher %><br/>
		ISBN: <%= book.isbn %>
	</p>

</div>
