<div class="block books">
	<header>
	  <p><%= book.isbn %></p>
		<h4><%= book.title %></h4>
		<p>by: <%= book.author %></p>
  </header>

  <p>
		required: <%= book.required %><br/>
		publisher: <%= book.publisher %>
	</p>
	
	<ul>
    <li><%= link_to 'Edit', xxx@xxx.xxx %></li>
    <li><%= link_to 'Destroy', xxx@xxx.xxx data: {confirm: 'Are you sure?'}, method: :delete, remote: true %></li>
	</ul>
</div>
