<div class="block form">
	<%= xxx@xxx.xxx remote: true) do |f| %>
		<%= xxx@xxx.xxx %>
		<ol>
			<li><div class="details"><%= f.label :title %><p></p></div><div class="field"><%= f.text_field :title %></div></li>
			<li><div class="details"><%= f.label :author %><p></p></div><div class="field"><%= f.text_field :author %></div></li>
			<li><div class="details"><%= f.label :publisher %><p></p></div><div class="field"><%= f.text_field :publisher %></div></li>
			<li><div class="details"><%= f.label :isbn %><p></p></div><div class="field"><%= f.text_field :isbn %></div></li>
			<li><div class="details"><%= f.label :required %><p></p></div><div class="field"><%= f.check_box :required %></div></li>
			<li class="action">
				<div><%= f.submit %></div>
			</li>
		</ol>
	<% end %>
</div>
