<h1>Listing books</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Publisher</th>
    <th>Isbn</th>
    <th>Course</th>
    <th>Required</th>
  </tr>

<% for book xxx@xxx.xxx %>
  <tr>
    <td><%=h book.title %></td>
    <td><%=h book.author %></td>
    <td><%=h book.publisher %></td>
    <td><%=h book.isbn %></td>
    <td><%=h book.course.title %></td>
    <td><%=h book.required %></td>
    <td><%= link_to 'Show', xxx@xxx.xxx %></td>
    <td><%= link_to 'Edit', xxx@xxx.xxx %></td>
    <td><%= link_to 'Destroy', xxx@xxx.xxx :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Back', xxx@xxx.xxx ) %> |
<%= link_to 'New book', xxx@xxx.xxx %>
