<%= content_for :header do %>
	<h1>Login</h1>
<% end %>

<nav>
	<%= link_to 'Back', root_path, :class => "icon back" %>
</nav>

<header>
	<p>Username and Password Required</p>
	<h1>Instructor Login</h1>
</header>

<%= form_tag sessions_path do %>
	<ol>
		<li>
			<div class="details">
				<%= label_tag :username %>
			</div>
			<div class="field"><%= text_field_tag :username, params[:username] %></div>
		</li>
	
		<li>
			<div class="details">
				<%= label_tag :password %>
			</div>
			<div class="field"><%= password_field_tag :password %></div>
		</li>
	
		<li class="action">
			<div><%= submit_tag 'Sign in' %></div>
		</li>
	</ol>
<% end %>
