<%= content_for :header do %>
xxx@xxx.xxx %></h1>
<% end %>

<section>
	<nav>
		<%= link_to 'Back', xxx@xxx.xxx ), :class => "icon back" %>
	</nav>
	
	<header>
		<p>Objectives for</p>
xxx@xxx.xxx %></h1>
	</header>

	<div class="fancy">
		<table id="objectives">
xxx@xxx.xxx do |objective| %>
				<%= render :partial => objective %>
			<% end %>
		</table>
	</div>

	<%= xxx@xxx.xxx do |f| %>
		<ol>
			<li class="textarea"><div class="details"><%= f.label :description, "Add a New Objective" %><p></p></div><div class="field"><%= f.text_area :description %></div></li>
			<li class="action">
				<div><%= f.submit "Add" %></div>
			</li>
		</ol>
	<% end %>
</section>
