
<%= render partial: 'admin/courses/course', locals: {course: @course} %>
<%= render 'objectives_header' %>

<div class="block objectives" data-script='$("#objectives").reorderTable( "<%= sort_admin_course_objectives_url( @course ) %>", "<%= form_authenticity_token %>" )'>
	<table id="objectives">
		<tr>
			<th>objective</th>
			<th></th>
			<th></th>
		</tr>
		<% @objectives.each do |objective| %>
			<%= render objective %>
		<% end %>
	</table>
</div>
