<%= content_for :header do %>
	<h1>How to: xxx@xxx.xxx %></h1>
xxx@xxx.xxx %></h4>
<% end %>

<nav>
		<li><%= link_to xxx@xxx.xxx do %> <%= render :partial => "shared/back_link" %> <% end %></li>
		<li><%= link_to xxx@xxx.xxx do %> <%= render :partial => "shared/show_link" %> <% end %></li>
	</nav>

<%= xxx@xxx.xxx @step], :html => {:multipart => true}) do |f| %>
<%= xxx@xxx.xxx %>
	<ol>
		<li><div class="details"><%= f.label :title %><p></p></div><div class="field"><%= f.text_field :title %></div></li>
		<li><div class="details"><%= f.label :instructions %><p></p></div><div class="field"><%= f.text_area :instructions %></div></li>
		<li>
			<% xxx@xxx.xxx %>
				<p>
					Current Image: <br/>
					<%= xxx@xxx.xxx %>
				</p>
			<% end %>
			
			<%= f.label :image %><br />
			<%= f.file_field :image %>
		</li>
		<li class="submit_bar">
			<%= f.submit "Update" %>
		</li>
	</ol>
<% end %>

