
<%= render partial: 'admin/courses/course', locals: {course: @course} %>
<%= render partial: 'admin/tutorials/tutorials_header' %>
<%= render partial: 'admin/how_tos/how_to', locals: {how_to: @how_to, main: true} %>

<div class="block steps" data-script='$("#steps").reorderTable( "<%= sort_admin_how_to_steps_url(@how_to, course_id: @course) %>", "<%= form_authenticity_token %>" );'>
	<header>
		<h6>Steps</h6>
	</header>
	<table id="steps">
		<% @steps.each do |step| %>
			<%= render step %>
		<% end %>
	</table>
</div>
