
<%= render partial: 'admin/courses/course', locals: {course: @course} %>
<%= render partial: 'admin/tutorials/tutorials_header' %>
<%= render partial: 'admin/how_tos/how_to', locals: {how_to: @how_to} %>


<%
	prev_step = @how_to.steps.where(['position=?',@step.position - 1]).first if @step.position
	next_step = @how_to.steps.where(['position=?',@step.position + 1]).first if @step.position
%>



<div class="block block--width2 steps">
	<header>
		<p>Step <%= @step.position %> :: <%= @step.title %></p>
		<h6>How to: <%= @how_to.title %></h6>
	</header>

	<ul>
		<li class="icon"><%= link_to edit_admin_how_to_step_path(@how_to,@step,course_id: @course), {class: "icon icon-note", title: "Edit"} do %><span class="text_label">Edit</span><% end %></li>
	</ul>

	<ul id="next_prev">
		<% if prev_step %>
			<li class="prev"><%= link_to( "Go back to the previous step", admin_how_to_step_path(@how_to, prev_step, course_id: @course)  ) %></li>
		<% end %>
		<% if next_step %>
			<li class="next"><%= link_to( "Move on to the next step", admin_how_to_step_path(@how_to, next_step, course_id: @course), {class: 'next'} ) %></li>
		<% end %>
	</ul>
</div>

<div class="block steps" id="tutorial_step">
	<%= markdown @step.instructions %>
</div>

<% if @step.image_file_name %>
	<div class="block steps">
		<section class="how_to_step_image"><%= image_tag( @step.image.url(:large) ) %></section>
	</div>
<% end %>
