<% content_for :header do %>
	<h1>How to: xxx@xxx.xxx %></h1>
	<h2>Step <%= @step.position %> :: xxx@xxx.xxx %></h2>
<% end %>

<div class="nav">
	<ul class="nav">
		<li><% link_to xxx@xxx.xxx do %> <%= render :partial => "shared/back_link" %> <% end %></li>
		<li><% link_to xxx@xxx.xxx do %> <%= render :partial => "shared/edit_link" %> <% end %></li>
	</ul>
</div>

<div id="tutorial_step">
	<p>
		<% xxx@xxx.xxx %>
			<%= xxx@xxx.xxx ) %>
		<% end %>
	</p>
		
xxx@xxx.xxx %>
	

	<%  
		prev_step = @how_to.steps.find( :first, :conditions => ['position=?',@step.position - 1]) xxx@xxx.xxx
		next_step = @how_to.steps.find( :first, :conditions => ['position=?',@step.position + 1]) xxx@xxx.xxx
	%>
	
	<p class="nav">
		<%= link_to( '&laquo; Previous', xxx@xxx.xxx prev_step ), {:class => 'prev'} ) if prev_step %>
		<%= link_to( 'Next &raquo;', xxx@xxx.xxx next_step ), {:class => 'next'} ) if next_step %>
	</p>
</div>
