<div class="block assignments header <%= double_width_if_main(defined? main) %> <%= assignment.overdue? ? "overdue" : "" %>" data-active="<%= assignment.overdue? ? 'inactive' : 'active' %>">
	<header>
		<%= link_to semester_section_assignment_path(assignment.section.semester, assignment.section, assignment) do %>
			<p><%= assignment.lab.title %></p>

			<h4 class="<%= "overdue" if assignment.overdue? %>">
				<%= assignment.title %>
			</h4>
		<% end %>
	</header>

	<p>Objective: <b><%= assignment.lab.objective %></b></p>

	<% unless assignment.overdue? %>
		<p>Due on <%= show_short_date( assignment.duedate ) %> (<%= distance_of_time_in_words(Time.now, assignment.duedate) %>)</p>
	<% else %>
		<p>pastdue</p>
	<% end %>

	<ul id="assignment_links">
		<% if defined?(main) %>
			<li class="button"><a href="#" id="print">Print this Assignment</a></li>
		<% end %>

		<% if current_user %>
			<li><%= link_to 'Edit this Assignment', edit_admin_semester_section_assignment_path(assignment.section.semester,assignment.section,assignment) %></li>
			<li><%= link_to 'Edit this Lab', edit_admin_course_lab_path(assignment.section.course, assignment.lab) %></li>
		<% end %>
	</ul>

</div>
