<div class="block <%= double_width_if_main(defined? main) %>">
	<% unless assignment.overdue? %>
		<p>Due in <%= distance_of_time_in_words(Time.now, assignment.duedate) %></p>
	<% end %>

	<% unless assignment.overdue? %>
		<p>Due on <%= show_short_date( assignment.duedate ) %></p>
	<% else %>
		pastdue
	<% end %>
	
	<p><%= assignment.title %></p>
	<h2 class="<%= "overdue" if assignment.overdue? %>">
		<%= link_to assignment.lab.title, xxx@xxx.xxx @section, assignment) %>
	</h2>
	<p><%= assignment.lab.objective %></p>
</div>
