<div class="block assignments header <%= double_width_if_main(defined? main) %> <%= assignment.overdue? ? "overdue" : "" %>" data-active="<%= assignment.overdue? ? 'inactive' : 'active' %>">
	<header>
		<%= link_to semester_section_assignment_path(assignment.section.semester, assignment.section, assignment) do %>
			<p><%= assignment.lab.title %></p>

			<h4 class="<%= "overdue" if assignment.overdue? %>">
				<%= assignment.title %>
			</h4>
		<% end %>
	</header>

	<ul id="assignment_links">
		<% if defined?(main) %>
			<li class="icon"><a href="#" id="print" class="icon icon-printer" title="Print this Assignment"><span class="text_label">Print this Assignment</span></a></li>
		<% end %>

		<% if current_user %>
			<li class="icon"><%= link_to edit_admin_semester_section_assignment_path(assignment.section.semester,assignment.section,assignment), {class: "icon icon-note", title: "Edit this Assignment"} do %><span class="text_label">Edit this Assignment</span><% end %></li>
			<li class="icon"><%= link_to edit_admin_course_lab_path(assignment.section.course, assignment.lab), {class: "icon icon-note", title: "Edit this Lab"} do %><span class="text_label">Edit this Lab</span><% end %></li>
		<% end %>
	</ul>

	<p>Objective: <b><%= assignment.lab.objective %></b></p>

	<% unless assignment.overdue? %>
		<p>Due on <%= show_date_and_time( assignment.duedate.in_time_zone('US/Central') ) %> (<%= distance_of_time_in_words(Time.now, assignment.duedate.in_time_zone('US/Central')) %>)</p>
	<% else %>
		<p>pastdue</p>
	<% end %>
</div>
