<% xxx@xxx.xxx %>

<div class="edge2edge">
	<h1>
xxx@xxx.xxx %>
	</h1>
	<%= link_to 'Home', xxx@xxx.xxx ), :id => 'back_button', :class => 'button' %>
	<%= link_to 'Syllabus', xxx@xxx.xxx @section ), :class => 'button' %>
</div>

<div class="rounded">
	<h1>Assignments</h1>
	<% xxx@xxx.xxx > 0 %>
		<ul>
xxx@xxx.xxx do |assignment| %>
				<li>
					<%= link_to xxx@xxx.xxx @section, assignment) do %>
						<div class="secondary">
							<%= assignment.lab.title %>
						</div>
						<%= assignment.title  %>
						<div class="secondary">	
								<% if assignment.duedate > Time.now %>
									Due: <%= show_short_date( assignment.duedate ) %>
								<% else %>
									pastdue
								<% end %>
						</div>
					<% end %>
				</li>				
			<% end %>
		</ul>
	<% else %>
		<ul>
			<li>There are no assignments posted for this class currently.</li>
		</ul>
	<% end %>

	<% xxx@xxx.xxx > 0 %>
		<h1>Tutorials</h1>
		<ul>
xxx@xxx.xxx do |howto| %>			
				<li>
					<%= link_to xxx@xxx.xxx howto, howto.steps.find( :first ) ) do %>
						<%= howto.title %>
						<div class="secondary"><%= howto.description %></div>
					<% end %>
				</li>
			<% end %>
		</ul>
	<% end %>

	<% xxx@xxx.xxx > 0 %>
		<h1>Course Materials</h1>
		<ul>
xxx@xxx.xxx do |material| %>
				<li>
					<% if material.file_file_name %>
						<%= material.title + ' <span class="light">Downloads only available on desktop</span>' %>
					<% else %>
						<%= material.title %>
					<% end %>
					<div class="secondary"><%= material.description %></div>
				</li>
			<% end %>
		</ul>
	<% end %>
		
	<h1>Request Your Grade</h1>
	<ul>
		<li>
			<%= xxx@xxx.xxx @section, @section.grade_requests.build]) do |f| %>
				<%= error_messages_for :grade_request, :header_message => 'Uh oh!  You\'ve really done it now.  It\'s going to take us hours to straighten this mess out.', :message => 'Here are a few of the many things you\'ve done wrong today:' %>
				<%= f.text_field :email, :value => 'Your Email Address', :onfocus => 'this.value = ""', :autocapitalize => 'off', :autocorrect => 'off' %>
			<% end %>
		</li>
	</ul>
</div>
