<%= content_for :header do %>
	<h1><%= @assignment.title %> - xxx@xxx.xxx %></h1>
xxx@xxx.xxx %></h3>
xxx@xxx.xxx %></h4>
<% end %>

<div class="nav">
	<ul class="nav">
		<li><%= link_to xxx@xxx.xxx @section ) do %> <%= render :partial => 'shared/back_link' %> <% end %></li>

		<% xxx@xxx.xxx %>
			<li><%= link_to slide_link("Submit","Turn in a homework assignment"), xxx@xxx.xxx @section, @assignment ) %></li>
			<li><%= link_to slide_link("Return","Request a copy of your homework be sent back to you"), xxx@xxx.xxx %></li>
		<% end %>

		<li><a href="javascript:pre_print( );"><span class="text">Print - <span class="sub">Format and print this assignment</span></span></a></li>
	</ul>
</div>

<div id="assignment">

	<% if @assignment.overdue? and xxx@xxx.xxx %>
		<p>This lab is <span class="red">PASTDUE!</span></p>
	<% end %>
	
	<% xxx@xxx.xxx  %>
		<p>Due in <%= xxx@xxx.xxx %><br/>
		<span class="light">(<%=h xxx@xxx.xxx ) %>)</span></p>
	<% end %>

	<% xxx@xxx.xxx %>
		<p><span class="green">This assignment has been graded.</span></p>
	<% end %>
	
xxx@xxx.xxx %></h1>
xxx@xxx.xxx %></h2>
	
	<p>
		<strong>Objective</strong><br/>
xxx@xxx.xxx %>
	</p>

	<table>
		<tr><th>Requirement</th><th>Worth</th></tr>
xxx@xxx.xxx do |r| %>
			<tr>
				<td><%= r.description %></td><td><%= r.points %></td>
			</tr>
		<% end %>
		<tr class="last_row"><td xxx@xxx.xxx %> points</td></tr>
	</table>

	<p>
		<strong>Instructions</strong>
	</p>

	<div id="instructions">
xxx@xxx.xxx %>
	</div>

	<% xxx@xxx.xxx > 0 %>
	<div>
		<strong>Extras:</strong><br/>
xxx@xxx.xxx do |extra| %>
			<p>
				<%= link_to extra.file_file_name, extra.file.url %><br/>
				<span class="light"><%= extra.description %></span><br/>
			</p>
		<% end %>
	</div>
	<% end %>
</div>
