<% title @assignment.title + ": " xxx@xxx.xxx %>

<div class="edge2edge">
xxx@xxx.xxx %></h1>
	<%= link_to @section.course.short_name, xxx@xxx.xxx @section ), :id => 'back_button', :class => 'button' %>
</div>

<div class="rounded">
	
	<ul>
xxx@xxx.xxx %></strong></li>
xxx@xxx.xxx %></li>
	</ul>
	
	<h1>Due</h1>
	<ul>
		<li><%= xxx@xxx.xxx %></li>
	</ul>
	
	<h1>Objective</h1>
	<ul>
xxx@xxx.xxx %></li>
	</ul>

	<h1>Requirements</h1>
	<ul>		
xxx@xxx.xxx do |r| %>
			<li>
				<%= r.points %> points - <%= r.description %>
			</li>
		<% end %>
		<li>Total <span xxx@xxx.xxx %> points</strong></span></li>
	</ul>

	<h1>Instructions</h1>
	<ul>
xxx@xxx.xxx %></li>
	</ul>
	
	<% xxx@xxx.xxx > 0 %>
		<h1>Extras</h1>
		<ul>
xxx@xxx.xxx do |extra| %>
				<li>
					<% link_to extra.file.url do %>
						<%= extra.file_file_name %><br/>
						<span class="light"><%= extra.description %></span>
					<% end %>
				</li>
			<% end %>
		</ul>
	<% end %>
	
</div>
