<%= content_for :header do %>
	<h1><%= @assignment.title %> - xxx@xxx.xxx %></h1>
xxx@xxx.xxx %>
xxx@xxx.xxx %>
<% end %>

<nav>
	<h1>Navigation</h1>
	<ul>
		<li><%= link_to xxx@xxx.xxx @section ) do %> <%= render :partial => 'shared/back_link' %> <% end %></li>

		<% xxx@xxx.xxx %>
			<li><%= link_to slide_link("Submit","Turn in a homework assignment"), xxx@xxx.xxx @section, @assignment ) %></li>
			<li><%= link_to slide_link("Return","Request a copy of your homework be sent back to you"), xxx@xxx.xxx %></li>
		<% end %>

		<li><a href="javascript:pre_print( );"><span class="text">Print - <span class="sub">Format and print this assignment</span></span></a></li>
	</ul>
</nav>

<section>
	<% if @assignment.overdue? and xxx@xxx.xxx %>
		<p>This lab is <strong>PASTDUE!</strong></p>
	<% end %>
	
	<% xxx@xxx.xxx %>
		<p>
			Due in <%= xxx@xxx.xxx %>
			(<%= xxx@xxx.xxx ) %>)
		</p>
	<% end %>

	<% xxx@xxx.xxx %>
		<p>This assignment has been graded.</p>
	<% end %>
	
	<h1>Description</h1>
	
	<p>
		<strong>Objective</strong>
xxx@xxx.xxx %>
	</p>

	<table>
		<tr><th>Requirement</th><th>Worth</th></tr>
xxx@xxx.xxx do |r| %>
			<tr>
				<td><%= r.description %></td><td><%= r.points %></td>
			</tr>
		<% end %>
xxx@xxx.xxx %> points</td></tr>
	</table>

	<p>
		<strong>Instructions</strong>
	</p>

	<div>
xxx@xxx.xxx %>
	</div>

	<% xxx@xxx.xxx > 0 %>
		<div>
			<strong>Extras:</strong><br/>
xxx@xxx.xxx do |extra| %>
				<p>
					<%= link_to extra.file_file_name, extra.file.url %>
					<%= extra.description %>
				</p>
			<% end %>
		</div>
	<% end %>
</section>
