<%# student assignment show %>

<%= render partial: 'semesters/semester', locals: {semester: @semester} %>
<%= render partial: 'sections/section', locals: {section: @section} %>

<%= render partial: 'assignment', locals: {assignment: @assignment, main: true} %>

<%= render partial: 'works/works_header' %>

<% if @assignment.lab.allow_uploads %>
		<%= render 'homework_return_requests/homework_return_requests_header' %>
<% end %>

<div class="block assignments">
	<header>
		<h3>Requirements</h3>
	</header>
	<table>
		<% @assignment.lab.requirements.each do |r| %>
			<tr>
				<td><%= r.description %></td><td><%= r.points %> pts</td>
			</tr>
		<% end %>
		<tr><td>Total</td><td><%= @assignment.worth %> pts</td></tr>
	</table>
</div>

<div class="block assignments block--width2">
	<header>
		<h4>Instructions</h4>
	</header>
	<div id="assignment_instructions">
		<%= markdown @assignment.lab.instructions %>
	</div>
</div>

<% if @assignment.lab.extras.size > 0 %>
	<div class="block assignments">
		<header>
			<h4>Extras</h4>
		</header>
		<ul>
			<% @assignment.lab.extras.each do |extra| %>
				<li>
					<%= link_to extra.file.url do %>
						<%= extra.description %><br/>
						<b><%= extra.file_file_name %></b>
					<% end %>
				</li>
			<% end %>
		</ul>
	</div>
<% end %>
