<%# student assignment show %>

<%= render partial: 'semesters/semester', locals: xxx@xxx.xxx %>
<%= render partial: 'sections/section', locals: xxx@xxx.xxx %>

<%= render partial: 'assignment', locals: xxx@xxx.xxx main: true} %>

<%= render partial: 'works/works_header' %>

<% xxx@xxx.xxx %>
		<%= render 'homework_return_requests/homework_return_requests_header' %>
<% end %>

<div class="block assignments">
	<header>
		<h3>Requirements</h3>
	</header>
	<table>
xxx@xxx.xxx do |r| %>
			<tr>
				<td><%= r.description %></td><td><%= r.points %> pts</td>
			</tr>
		<% end %>
xxx@xxx.xxx %> pts</td></tr>
	</table>
</div>

<div class="block assignments block--width2">
	<header>
		<h4>Instructions</h4>
	</header>
	<section>
		<%= xxx@xxx.xxx %>
	</section>
</div>

<% xxx@xxx.xxx > 0 %>
	<div class="block assignments">
		<header>
			<h4>Extras</h4>
		</header>
		<ul>
xxx@xxx.xxx do |extra| %>
				<li>
					<%= link_to extra.file.url do %>
						<div><%= extra.description %></div>
						<b><%= extra.file_file_name %></b>
						<p></p>
					<% end %>
				</li>
			<% end %>
		</ul>
	</div>
<% end %>
