<%= xxx@xxx.xxx do |f| %>
  <% xxx@xxx.xxx %>
    <div id="error_explanation">
      <h2><%= xxx@xxx.xxx "error") %> prohibited this website from being saved:</h2>

      <ul>
      xxx@xxx.xxx do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
