<%= content_for :header do %>
	<h1><%= xxx@xxx.xxx %></h1>
<% end %>

<section>
	<nav>	
		<%= link_to 'Back', xxx@xxx.xxx :class => "icon back" %>
	</nav>
	
	<header>
		<p>Attendance for</p>
		<h1><%= xxx@xxx.xxx %></h1>
	</header>
	
	<ul class="actions">
		<li><%= link_to 'New Attendance', xxx@xxx.xxx %></li>
	</ul>

	<div class="fancy">
		<table>
		  <tr>
		    <th>Status</th>
		    <th>Student</th>
		    <th></th>
		    <th></th>
		    <th></th>
		  </tr>
		  
xxx@xxx.xxx do |attendance| %>
		  <tr>
		    <td><%= attendance.attendance_status.name if attendance.attendance_status %></td>
		    <td><%= attendance.enrollment.student.last_name_first %></td>
		    <td class="show"><%= link_to 'Show', xxx@xxx.xxx %></td>
		    <td class="edit"><%= link_to 'Edit', xxx@xxx.xxx %></td>
		    <td class="destroy"><%= link_to 'Destroy', xxx@xxx.xxx method: :delete, data: { confirm: 'Are you sure?' } %></td>
		  </tr>
		<% end %>
		</table>
	</div>
</section>
