<div class="block search students <%= double_width_if_main(defined? main) %>">
	<header>
		<p><%= xxx@xxx.xxx %></p>
	</header>
	
	<%= form_tag search_admin_students_path, method: :get, remote: true do %>
		<ol>
			<li><div class="details"><%= label_tag 'q', 'Search' %><p>Search by first or last name, whole or partial</p></div><div class="field"><%= text_field_tag 'q', params['q'] || '' %></div></li>
			<li class="action"><div><%= submit_tag 'Search' %></div></li>
		</ol>
	<% end %>

	<% if params['q'] %>
		<ul class="actions">
			<li><%= link_to 'clear search', admin_students_path %></li>
		</ul>
	<% end %>
</div>
