<%= content_for :header do %>
xxx@xxx.xxx %></h1>
	<h4>Student has taken <%= xxx@xxx.xxx "class" %></h4>
<% end %>

<nav>
		<%= link_to 'Back', admin_students_path, :class => "icon back" %>
		<li><%= link_to xxx@xxx.xxx do %> <%= render :partial => 'shared/show_link' %> <% end %></li>
	</nav>

<%= render :partial => 'form', :locals => {:submit_name => 'Update'} %>

