<%= content_for :header do %>
	<h1>Students</h1>
	<h4>Listing All</h4>
<% end %>

<nav>
		<li><%= link_to 'Back', '/admin', :class => "icon back" %></li>
	</nav>

<div class="fancy">
	<table>
	  <tr>
	    <th>First name</th>
	    <th>MI</th>
	    <th>Last name</th>
		<th>Goes By</th>
	    <th>Email</th>

		<th></th>
		<th></th>
		<th></th>
	  </tr>

	<% for student xxx@xxx.xxx %>
	  <tr>
	    <td><%= student.first_name %></td>
	    <td><%= student.middle_name %></td>
	    <td><%= student.last_name %></td>
		<td><%= student.goes_by %></td>
	    <td><%= student.email %></td>
	    <td class="nav"><%= link_to 'Show', [:admin,student] %></td>
	    <td class="nav"><%= link_to 'Edit', edit_admin_student_path(student) %></td>
	    <td class="nav"><%= link_to 'Destroy', [:admin,student], :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
	</table>
</div>
