
<%= render partial: 'admin/students/students_header', locals: {students: Student.all} %>
<%= render partial: 'admin/students/student', locals: {student: @student, main: true} %>

<div class="block block--width2 students">
	<header>
		<h4>Student History</h4>
	</header>
	
	<table>
		<tr>
			<th>Course</th>
			<th>Final Score</th>
			<th>Semester</th>
			<th>Section Status</th>
			<th>Status</th>
			<th>Meetings/Absences</th>
		</tr>
		<% @student.sections.each do |section| %>
			<tr>
				<td><%= link_to( section.meeting_days + " :: " + section.course.title, admin_semester_section_path(section.semester,section) ) %></td>
				<td><%= number_to_percentage(section.final_grade_for( @student ) * 100) %></td>
				<td><%= section.semester.name %></td>

					<% if section.is_past %>
						<td>Complete</td>
					<% else %>
						<% if section.is_future %>
							<td>Has Not Started</td>
						<% else %>
							<td>In Session</td>
						<% end %>
					<% end %>

					<% enrollment = @student.enrollments.where(["section_id = ?", section.id]).first %>
					<td><%= enrollment.enrollment_status.name %></td>
					<td>
						<%= section.meetings.count %>
						/
						<%= @student.enrollments.where(section_id: section.id).first.attendances.where(attendance_status_id: AttendanceStatus.absent.id).count %>
					</td>
			</tr>
		<% end %>
	</table>
</div>
