<%= render 'admin/admin/admin_header' %>
<%= render partial: 'admin/students/students_header', locals: {students: Student.all} %>
<%= render partial: 'admin/students/student', locals: xxx@xxx.xxx main: true} %>

<div class="block block--width2 students">
	<table>
		<tr>
			<th>Course/Section</th>
			<th>Students Final Score</th>
			<th>Semester</th>
			<th>Section Status</th>
			<th>Status</th>
			<th>Meetings/Absences</th>
		</tr>
xxx@xxx.xxx do |section| %>
			<tr>
				<td><%= link_to( section.meeting_days + " :: " + section.course.title, admin_semester_section_path(section.semester,section) ) %></td>
				<td><%= xxx@xxx.xxx ) * 100) %></td>
				<td><%= section.semester.name %></td>

					<% if section.is_past %>
						<td>Complete</td>
					<% else %>
						<% if section.is_future %>
							<td>Has Not Started</td>
						<% else %>
							<td>In Session</td>
						<% end %>
					<% end %>

					<% enrollment xxx@xxx.xxx = ?", section.id]).first %>
					<td><%= enrollment.enrollment_status.name %></td>
					<td>
						<%= section.meetings.count %>
						/
xxx@xxx.xxx section.id).first.attendances.where(attendance_status_id: AttendanceStatus.absent.id).count %>
					</td>
			</tr>
		<% end %>
	</table>
</div>
