<%= content_for :header do %>
	<h1>Instructors</h1>
<% end %>

<section>
	<h1 class="page_description">Instructors</h1>	
	
	<nav>
		<h1>Navigation</h1>
		<%= link_to "Home", '/', class: "icon back" %>
	</nav>
	
	<header>
		<p>Ingenio.us</p>
		<h1>Instructors</h1>
	</header>
	
	<article>	
		<ul id="instructors">
xxx@xxx.xxx do |instructor| %>
				<li>
					<%= link_to instructor_path(instructor) do %>
						<div><%= instructor.title %></div>
						<h2><%= instructor.name %></h2>
						<p><%= instructor.division.name %></p>
					<% end %>
				</li>		
			<% end %>		
		</ul>
	</article>
</section>
