<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title><%= render :partial => 'shared/title' %></title>
	
	<%= render :partial => 'shared/stylesheets_and_javascript' %>
</head>
<body>
		
	<%= render :partial => 'shared/top_bar' %>
	
	<div id="page">
		<div id="back_bar"></div>
		
		<%= render :partial => 'shared/header' %>
		
		<div id="content">
			<noscript>
				<ul id="javascript_warning">
					<li>
						You must enable javascript for this site to function properly!
					</li>
				</ul>
			</noscript>
			
			<%= render :partial => 'shared/messages' %>

			<%= yield  %>
		</div>
	</div>
	
	<%= render :partial => 'shared/footer' %>
</body>
</html>
