<div class="block <%= double_width_if_main(defined? main) %> sections">
	<header>
		<%= link_to [:admin,section.semester,section] do %>
			<p><%= "#{section.meeting_days} #{section.course.title}" %></p>
			<h4>
				<%= section.course.short_name %>
			</h4>
		<% end %>
	</header>

	<% if section.in_session %>
		<p class=" in_progress_indicator green">In Session</p>
	<% else %>
		<p class="in_progress_indicator red">Not in Session</p>
	<% end %>


	<p><%= section.call_number %> - <%= section.section_number %></p>
	<p><%= pluralize section.course.credits, 'credit' %></p>
	<p>
		Room: <b><%= section.room_number %></b><br/>
		Times: <b><%= section.start_time.to_s(:time) %> - <%= section.end_time.to_s(:time) %></b><br/>
		Dates: <b><%= section.start_date %> - <%= section.end_date %></b>
	</p>
	

	<ul class="actions">
		<li><%= link_to "Email Section", section_email_admin_semester_section_path( section.semester, section ) %></li>
		<li><%= link_to 'Export Gradebook', export_gradebook_admin_semester_section_path(section.semester,section) %></li>
		<li><%= link_to 'Sync Students with TED', sync_students_admin_semester_section_path(section.semester,section) %></li>
	</ul>

	<p>
		<% total_ted_enrollments = 0 %>
		<%= pluralize section.enrollments.active.size, 'active enrollment' %> / 
		<% if section.enrollment_snapshots.count > 0 %>
			<%= pluralize section.enrollment_snapshots.last.enrollment_count, 'ted enrollment' %>
			<% total_ted_enrollments += section.enrollment_snapshots.last.enrollment_count %>
		<% else %>
			NA
		<% end %>
	</p>

	<ul>
		<li><%= link_to 'Edit', [:edit, :admin, section.semester, section] %></li>
		<li><%= link_to 'Destroy', [:admin,section.semester, section], data: {confirm: 'Are you sure?'}, method: :delete, remote: true %></li>
	</ul>
</div>
