<div class="block <%= double_width_if_main(defined? main) %> sections">
	<header>
		<%= link_to [:admin,section.semester,section] do %>
			<p><%= "#{section.meeting_days} #{section.course.title}" %></p>
			<h4>
				<%= section.course.short_name %>
			</h4>
		<% end %>
	</header>

	<% if section.in_session %>
		<p class=" in_progress_indicator green">In Session</p>
	<% else %>
		<p class="in_progress_indicator red">Not in Session</p>
	<% end %>

	<ul>
		<li class="icon"><%= link_to [:edit, :admin, section.semester, section], {class: "icon icon-note", title: "Edit"} do %><span class="text_label">Edit</span><% end %></li>
		<li class="icon"><%= link_to [:admin,section.semester, section], {class: "icon icon-trash", title: "Destroy", data: {confirm: 'Are you sure?', method: :delete, remote: true}} do %><span class="text_label">Destroy</span><% end %></li>
		<li class="icon">
			<%= link_to section_email_admin_semester_section_path(section.semester, section), {class: "icon icon-envelope", title: "Email Section"} do %>
				<span class="text_label">Email Section</span>
			<% end %>
		</li>
		<li class="icon">
			<%= link_to export_gradebook_admin_semester_section_path(section.semester,section), {class: "icon icon-cloud-download", title: "Export Gradebook"} do %>
				<span class="text_label">Export Gradebook</span>
			<% end %>
		</li>
		<li class="icon">
			<%= link_to sync_students_admin_semester_section_path(section.semester,section), {class: "icon icon-refresh", title: "Sync Students"} do %>
				<span class="text_label">Sync Students with TED</span>
			<% end %>
		</li>
	</ul>



	<p><%= section.call_number %> - <%= section.section_number %></p>
	<p><%= pluralize section.course.credits, 'credit' %></p>
	<p>
		Room: <b><%= section.room_number %></b><br/>
		Times: <b><%= section.start_time.to_s(:time) %> - <%= section.end_time.to_s(:time) %></b><br/>
		Dates: <b><%= section.start_date %> - <%= section.end_date %></b>
	</p>

	<p>
		<% total_ted_enrollments = 0 %>
		<%= pluralize section.enrollments.active.size, 'active enrollment' %> /
		<% if section.enrollment_snapshots.count > 0 %>
			<%= pluralize section.enrollment_snapshots.last.enrollment_count, 'ted enrollment' %>
			<% total_ted_enrollments += section.enrollment_snapshots.last.enrollment_count %>
		<% else %>
			NA
		<% end %>
	</p>


</div>
