<div class="block <%= double_width_if_main(defined? main) %>">
	<p>CRN: <%= section.call_number %>  Section: <%= section.section_number %></p>

	<p>Room: <%= section.room_number %></p>
	<p>Times: <%= section.start_time.to_s(:time) %> - <%= section.end_time.to_s(:time) %></p>
	<p>Dates: <%= section.start_date %> - <%= section.end_date %></p>

	<p class="<%= section.in_session ? "green" : "red" %>">*</p>

	<h3><%= section.meeting_days %> <%= link_to "#{section.course.title}", [:admin,section.semester,section] %></h3>

	<p><%= pluralize section.course.credits, 'credit' %></p>

	<ul class="actions">
		
		<li><%= link_to "Email Section", section_email_admin_semester_section_path( section.semester, section ) %></li>
		<li><%= link_to 'Export Gradebook', export_gradebook_admin_semester_section_path(section.semester,section) %></li>
		<li><%= link_to 'Sync Students with TED', sync_students_admin_semester_section_path(section.semester,section) %></li>
	</ul>

	<section>
		<% total_ted_enrollments = 0 %>
		<%= pluralize section.enrollments.active.size, 'active enrollment' %> / 
		<% if section.enrollment_snapshots.count > 0 %>
			<%= pluralize section.enrollment_snapshots.last.enrollment_count, 'ted enrollment' %>
			<% total_ted_enrollments += section.enrollment_snapshots.last.enrollment_count %>
		<% else %>
			NA
		<% end %>
	</section>

	<ul>
		<li><%= link_to 'Edit', [:edit, :admin, section.semester, section] %></li>
		<li><%= link_to 'Destroy', [:admin,section.semester, section], confirm: 'Are you sure?', method: :delete, remote: true %></li>
	</ul>
</div>
