<%= render 'admin/admin/admin_header' %>
<%= render 'admin/semesters/semesters_header' %>
<%= render partial: 'admin/semesters/semester', locals: xxx@xxx.xxx %>
<%= render 'sections_header' %>

<div class="block block--width2">
	<header><p>Edit</p><h3>Section</h3></header>
</div>

<%= render 'form' %>
