
<%= render 'admin/semesters/semesters_header' %>
<%= render partial: @semester, locals: {main: true} %>
<%= render partial: 'admin/sections/sections_header', locals: {semester: @semester} %>
<%= render partial: 'section', collection: @sections %>

	<div class="block chart sections" data-script="setTimeout(init_chart,1000)">
		<section id="enrollments_chart">No Enrollment Data Available</section>


		<script type="text/javascript" charset="utf-8">
			var init_chart = function () {
				if($("#enrollments_chart").size( ) > 0) {
					var chart = new Highcharts.Chart({
						chart: {
							renderTo: 'enrollments_chart',
							type: 'spline',
							events: {
	              load: function() {
	                $(window).resize();
	              }
	            }
						},
						title: { text: 'Enrollments by Day' },
						xAxis: { type: 'datetime' },
						yAxis: {
							title: { text: '# of Students'},
							min: 0
						},
						series: [
						<% @semester.sections.all.each do |section| %>
							<%# if section.enrollment_snapshots.count > 0 %>
								{
									name: "<%= section.meeting_days %> <%= section.course.title %>",
									data: <%= section.enrollment_snapshots.order(:created_at).collect {|p| [p.created_at.to_i * 1000, p.enrollment_count]}.inspect %>
								},
							<%# end %>
						<% end %>]
					});
				}
				$('#page').isotope('layout');
			}
		</script>
	</div>
