<%= content_for :header do %>
	<h1>Sections</h1>
<% end %>

<section>
	<nav>
		<h1>Navigation</h1>
		<%= link_to 'Back', '/admin', :class => "icon back" %>
	</nav>

	<header>
		<p><%= xxx@xxx.xxx 'Section' %></p>
xxx@xxx.xxx %></h1>
	</header>

	<ul class="actions">
		<li><%= link_to 'New Section', xxx@xxx.xxx ) %></li>
	</ul>

	<div class="fancy">
		<table>
		  <tr>
			<th></th>
		    <th>Course</th>
			<th>Days</th>
			<th>Enrolled</th>
	
			<th></th>
			<th></th>
		  </tr>

		<% for section xxx@xxx.xxx %>
		  <tr>
			<td class="status">
				<% if section.in_session %>
				<%= image_tag 'circle_green.png', :style => "width: 20px" %>
				<% else %>
					<%= image_tag 'circle_red.png', :style => "width: 20px" %>
				<% end %>
			</td>
		    <td class="title">
				<%=link_to "#{section.course.title}", xxx@xxx.xxx section] %><br/>
			</td>
		    <td class="days"><%= section.meeting_days %></td>
			<td class="enrollments"><%= section.enrollments.size %></td>

		    <td class="edit"><%= link_to 'Edit', [:edit, xxx@xxx.xxx section] %></td>
		    <td class="destroy"><%= link_to 'Destroy', xxx@xxx.xxx section], :confirm => 'Are you sure?', :method => :delete %></td>
		  </tr>
		<% end %>
		</table>
	</div>
</section>
