<%= content_for :header do %>
	<h1>Section</h1>
<% end %>

<%= content_for :head do %>
	<% xxx@xxx.xxx > 0 %>
		<script type="text/javascript" charset="utf-8">
			$(function () {
				new Highcharts.Chart({
					chart: { renderTo: 'enrollments_chart' },
					title: { text: 'Enrollments by Day' },
					xAxis: { type: 'datetime' },
					yAxis: {
						title: { text: '# of Students'}
					},
					series: [{
						name: "Enrollments",
						pointInterval: <%= 1.day * 1000 %>,
						pointStart: <%= xxx@xxx.xxx * 1000 %>,
						data: xxx@xxx.xxx {|p| p.enrollment_count}.inspect %>
					}]
				});
			});		
		</script>
	<% end %>
<% end %>

<section>
	<nav>
		<%= link_to 'Back', xxx@xxx.xxx ), :class => 'icon back' %>
		<%= link_to 'Edit', [:edit, xxx@xxx.xxx @section], :class => 'icon edit' %>
	</nav>
	
	<header>
		<p><%= @section.days %> <%= show_time(@section.start_time) %> - <%= xxx@xxx.xxx %></p>
		<h1><%= @section.course.title %> xxx@xxx.xxx %>)</h1>
	</header>


	<div class="fancy">
		<table>
			<tr>
				<th>
					Call number:
				</th>
				<th>
					Section number:
				</th>
				<th>
					Room:
				</th>
				<th>Days</th>
				<th>Times</th>
				<th>Dates</th>
			</tr>
			<tr>			
				<td>
xxx@xxx.xxx %>
				</td>
				<td>
xxx@xxx.xxx %>
				</td>
				<td>
xxx@xxx.xxx %>
				</td>
xxx@xxx.xxx %></td>
				<td><%= @section.start_time.to_s(:time) %> - xxx@xxx.xxx %></td>
				<td><%= @section.start_date %> - xxx@xxx.xxx %></td>
			</tr>
		</table>
	</div>

	<ul class="actions">
		<li><%= link_to "Assignments", xxx@xxx.xxx @section ) %></li>
		<li><%= link_to "Examples", xxx@xxx.xxx @section ) %></li>
		<li><%= link_to "Email Section", xxx@xxx.xxx @section ) %></li>
		<li><%= link_to 'Export Gradebook', xxx@xxx.xxx %></li>
		<li><%= link_to 'Add Student', xxx@xxx.xxx @section ) %></li>
		<li><%= link_to 'Modify this Course', xxx@xxx.xxx ) %></li>
		<li><%= link_to 'Sync Students with TED', xxx@xxx.xxx %></li>
	</ul>

	<div class="fancy">
		<table>
			<tr>
				<th>
					Name
				</th>
				<th>Status</th>
				<th>
					Email
				</th>
				<th></th>
				<th></th>
			</tr>
xxx@xxx.xxx { |x,y| x.student.last_name <=> y.student.last_name }.each do |enrollment| %>
				<tr>
					<td>
						<%= link_to enrollment.student.first_name + ' ' + enrollment.student.middle_name + ' ' + enrollment.student.last_name, xxx@xxx.xxx %>
					</td>
					<td><%= enrollment.enrollment_status ? enrollment.enrollment_status.name : "unknown" %></td>
					<td>
						<%= mail_to enrollment.student.email %>
					</td>
					<td class="show">
						<%= link_to 'History', admin_student_path(enrollment.student) %>
					</td>
					<td class="deenroll">
						<%= link_to 'De-Enroll', xxx@xxx.xxx @section, enrollment ), :method => :delete, :confirm => 'Are you sure?' %>
					</td>
				</tr>
			<% end %>
		</table>
	</div>
	
	<div class="admin_comments">
		<div id="enrollments_chart">No Enrollment Data Available</div>
	</div>
</section>
