<%= render 'admin/admin/admin_header' %>
<%= render 'admin/semesters/semesters_header' %>
<%= render partial: 'admin/semesters/semester', locals: xxx@xxx.xxx %>
<%= render partial: 'admin/courses/course', locals: xxx@xxx.xxx %>
<%= render partial: 'sections_header', locals: xxx@xxx.xxx %>
<%= render xxx@xxx.xxx locals: {main: true} %>

<div class="block chart" data-script="setTimeout(init_chart,1000)">
	<section id="enrollments_chart">No Enrollment Data Available</section>

	<% xxx@xxx.xxx > 0 %>
		<script type="text/javascript" charset="utf-8">
			var init_chart = function( ) {
				if($("#enrollments_chart").size( ) > 0) {
					var chart = new Highcharts.Chart({
						chart: {
							renderTo: 'enrollments_chart',
							type: 'spline',
							events: {
	              load: function() {
	                $(window).resize();
	              }
	            }
						},
						title: { text: 'Enrollments by Day' },
						xAxis: { type: 'datetime' },
						yAxis: {
							title: { text: '# of Students'},
							min: 0
						},
						series: [{
							name: "Enrollments",
							data: xxx@xxx.xxx {|p| [p.created_at.to_i * 1000, p.enrollment_count]}.inspect %>
						}]
					});
				}
				$('#page').isotope('layout');
			}
		</script>
	<% end %>
</div>
	
<%= render partial: 'admin/enrollments/enrollments_header', locals: xxx@xxx.xxx %>
<%= render partial: 'admin/assignments/assignments_header', locals: xxx@xxx.xxx %>
<%= render 'admin/examples/examples_header' %>
<%= render partial: 'admin/meetings/meetings_header', locals: xxx@xxx.xxx %>
