<%= xxx@xxx.xxx do |f| %>
  <%= xxx@xxx.xxx %>
	<ol>
		<li><div class="details"><%= f.label :year %><p></p></div><div class="field"><%= f.text_field :year %></div></li>

		<li><div class="details"><%= f.label :season %><p></p></div><div class="field"><%= f.text_field :season %></div></li>

		<li>
			<div style="float: left; margin-right: 20px;">
				<%= f.label :start_date %><br />
				<%= f.hidden_field :start_date %>
				<div id="startdatepicker" class="datepicker jqueryui"></div>
			</div>
			<div style="float: left;">
				<%= f.label :end_date %><br />
				<%= f.hidden_field :end_date %>
				<div id="enddatepicker" class="datepicker jqueryui"></div>
			</div>
			<div class="clear"></div>
		</li>
		
		<li class="action">
			<div><%= f.submit submit_text %></div>
		</li>
	</ol>
<% end %>
