<div class="block semesters <%= double_width_if_main(defined? main) %>">
	<header>
		<p><%= show_short_date semester.start_date %> - <%= show_short_date semester.end_date %></p>
		<% if semester.is_current? %>
			<h3><%= link_to semester.name, admin_semester_sections_path(semester) %> <span class="light">(current)</span></h3>
		<% elsif semester.is_future? %>
			<h3><%= link_to semester.name, admin_semester_sections_path(semester) %> <span class="light">(coming up)</span></h3>
		<% else %>
			<h3><%= link_to semester.name, admin_semester_sections_path(semester) %></h3>
		<% end %>
	</header>
	
	<% 
		total_credits = 0 
		preps = 0
		if semester.sections.count > 0
			preps = semester.sections.where("course_id != ?", "").map {|sec| sec.course.title}.uniq.size
		end
		total_onsite_enrollments = 0
		total_ted_enrollments = 0
	%>

	<% if semester.sections.count > 0 %>
		<% for section in semester.sections.where("course_id != ?", "") %>
			<% total_credits += section.course.credits %>
			<% total_onsite_enrollments += section.enrollments.active.size %>
		<% end %>
	<% end %>

	<p>
		<%= pluralize total_credits, 'credit' %> (<%= pluralize preps, "prep" %>)<br/>
		<%= pluralize semester.sections.count, 'section' %><br/>
		<%= pluralize semester.student_count, 'student' %>
	</p>

	<ul>
		<li><%= link_to 'Edit', edit_admin_semester_path(semester) %></li>
		<li><%= link_to 'Destroy', [:admin,semester], confirm: 'Are you sure?', method: :delete, remote: true %></li>
	</ul>
</div>
