<%= content_for :head do %>
	<%= stylesheet_link_tag 'jquery-ui-1.7.1.custom', :media => :all %>
	<%= javascript_include_tag "jquery-ui-1.7.1.custom.min" %>
	
	<script type="text/javascript">
		$(function() {
			$("#startdatepicker").datepicker( { numberOfMonths: 1, inline: true, altField: '#semester_start_date' } );
			$("#enddatepicker").datepicker( { numberOfMonths: 1, inline: true, altField: '#semester_end_date', defaultDate: "+3m" } );
		});
	</script>
<% end %>

<%= content_for :header do %>
	<h1>Create a new Semester</h1>
	<h4>Create</h4>
<% end %>

<nav>
		<%= link_to 'Back', admin_semesters_path, :class => "icon back" %>
	</nav>

<%= render :partial => 'form', :locals => {:submit_text => 'Create'} %>
