<div id="header">	
	<h2>
		<%- xxx@xxx.xxx -%>
			<%- if xxx@xxx.xxx -%>
				New Semester
			<%- else -%>
xxx@xxx.xxx %>
			<%- end -%>
		<% else %>
			<%- if controller.controller_name != "steps" and controller.controller_name != "courses" and controller.controller_name != "general_contacts" -%>
				<%= controller.controller_name.titleize %>
			<%- end -%>
			<%- if controller.controller_name == "general_contacts" -%>
				Contact
			<%- end -%>
			<%- if controller.controller_name == "courses" -%>
				Courses
			<%- end -%>
		<%- end -%>
	</h2>

	<% if @assignment and @assignment.title xxx@xxx.xxx %>
		<div id="assignment_info">
xxx@xxx.xxx %></h1>
xxx@xxx.xxx %></h2>
		</div>
	<% else %>
		<% if @section xxx@xxx.xxx %>
xxx@xxx.xxx %></h1>
xxx@xxx.xxx %></h3>

			<div id="monitor_links">
				<%= link_to( 'RSS', xxx@xxx.xxx :format => :rss), :class => 'icon' ) %>
				<%= link_to( 'ICAL', xxx@xxx.xxx :format => :ics, :protocol => 'webcal'), :class => 'icon' ) %>
				<%= link_to_function 'help', 'toggle_monitoring_instructions()', :class => 'toggle_monitoring_instructions_link' %>
			</div>
			
			<div id="monitor_instructions" style="display: none;">
				<br/>
				<%= link_to_function 'X', 'toggle_monitoring_instructions()', :class => 'toggle_monitoring_instructions_link', :style => 'float: right; font-size: 1.5em;' %>
				<br/>
				There are three different ways you can monitor assignments for this class.

				<ol>
					<li>Check this page manually (duh?)</li>
					<li>
						Subscribe to this class's RSS feed by clicking the <%= link_to( 'RSS', xxx@xxx.xxx :format => :rss), :class => 'icon' ) %>
						icon.  This will allow this class to be viewed 
						through your RSS reader of choice which will alert you when a new assignment has been added.
					</li>
					<li>
						Subscribe to this class's calendar.  This will add the due dates for this class's assignments to your calendar which 
						will automatically be updated as new assignments are added.  This can be done by clicking the 
						<%= link_to( 'ICAL', xxx@xxx.xxx :format => :ics, :protocol => 'webcal'), :class => 'icon' ) %>
						icon.
					</li>
				</ol>

				You might want to consider using both as the 
				<%= link_to( 'RSS', xxx@xxx.xxx :format => :rss), :class => 'icon' ) %>
				feed is perfect for seeing when new assignments have been added and the
				<%= link_to( 'ICAL', xxx@xxx.xxx :format => :ics, :protocol => 'webcal'), :class => 'icon' ) %>
				feed is great for seeing when assignments will be due.
			</div>
			
		<% else %>
			<% if @course xxx@xxx.xxx %>
xxx@xxx.xxx %></h2>
xxx@xxx.xxx %></h1>
				<h3><%= xxx@xxx.xxx "credit" %></h3>
			<% end %>
		<% end %>
	<% end %>
</div>
