<div class="block form grade_requests">
	<%= form_for([@semester, @section, @grade_request], remote: true) do |f| %>
		<%= show_error_messages_for @grade_request %>
		<ol>
			<li>
				<div class="details">
					<%= f.label :email %>
					<p>Provide your official email address so your grades can be found.</p>
				</div>
				<div class="field"><%= f.email_field :email, {placeholder: "first.last@tulsacc.edu"} %></div>
			</li>
			<li class="action">
				<div><%= f.submit "Send Request" %></div>
			</li>
		</ol>
	<% end %>
</div>
