<%= render 'semesters/semesters_header' %>
<%= render partial: 'semesters/semester', locals: xxx@xxx.xxx %>
<%= render partial: 'sections/section', locals: xxx@xxx.xxx %>

<div class="block">
	<header>
		<h3>Request your grades</h3>
	</header>
</div>

<div class="block">
	<%= xxx@xxx.xxx @section, @grade_request]) do |f| %>
		<h2>Complete the Form</h2>
		<%= xxx@xxx.xxx %>
		<ol>
			<li>
				<div class="details">
					<%= f.label :email %>
					<p>Provide your official email address so your grades can be found.</p>
				</div>
				<div class="field"><%= f.email_field :email, {:placeholder => xxx@xxx.xxx %></div>
			</li>
			<li class="action">
				<div><%= f.submit "Send Request" %></div>
			</li>
		</ol>
	<% end %>
</div>
