<h1>Listing Extras for xxx@xxx.xxx %></h1>

<table>
  <tr>
    <th>File</th>
    <th>Description</th>
  </tr>

<% for extra xxx@xxx.xxx %>
  <tr>
    <td><%=h extra.file %></td>
    <td><%=h extra.description %></td>
    <td><%= link_to 'Show', xxx@xxx.xxx @lab, extra] %></td>
    <td><%= link_to 'Edit', xxx@xxx.xxx %></td>
    <td><%= link_to 'Destroy', xxx@xxx.xxx :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Back', xxx@xxx.xxx %> |
<%= link_to 'New extra', xxx@xxx.xxx %>
