<div class="block general_contacts">
	<header>
		<%= link_to [:admin,general_contact] do %>
			<p><%= general_contact.return_email %></p>
			<h3>Contact</h3>
		<% end %>
	</header>
	
	<p><%= general_contact.subject %></p>
	
	<% if general_contact.attachment %>
		<p><%= link_to general_contact.attachment_file_name, general_contact.attachment.url %></p>
	<% end %>
	
	<ul>
    <li><%= link_to 'Destroy', [:admin,general_contact], data: {confirm: 'Are you sure?'}, method: :delete, remote: true %></li>
	</ul>
</div>
