<%= content_for :header do %>
	<h1>New Assignment Tweet</h1>
<% end %>

<section>
	<nav>
		<%= link_to 'Back', xxx@xxx.xxx @assignment.section, @assignment ), :class => "icon back" %>
	</nav>
	
	<header>
xxx@xxx.xxx %></p>
		<h1>New Tweet for Assignment xxx@xxx.xxx %></h1>
	</header>

	<%= form_tag :admin_assignment_tweets do %>
	<%= hidden_field_tag xxx@xxx.xxx %>
		<ol>
			<li class="textarea">
				<div class="details">
					<%= label_tag :content %>
					<p>Max of 120 characters</p>
				</div>
			
				<div class="field"><%= text_area_tag xxx@xxx.xxx %></div>
			</li>
						
			<li class="action">
				<div><%= submit_tag 'Tweet' %></div>
			</li>
		</ol>
	<% end %>
</section>
