
<%= render 'admin/semesters/semesters_header' %>
<%= render partial: 'admin/semesters/semester', locals: {semester: @assignment.section.semester} %>
<%= render partial: 'admin/sections/sections_header', locals: {semester: @assignment.section.semester} %>
<%= render partial: @assignment.section %>
<%= render partial: 'admin/assignments/assignments_header', locals: {section: @assignment.section} %>
<%= render partial: 'admin/assignments/assignment', locals: {assignment: @assignment} %>

<div class="block block--width2 assignment_tweets">
	<header>
		<h3>Assignment Tweet</h3>
	</header>
</div>

<%= render 'form' %>
