<div class="block <%= double_width_if_main(defined? main) %>">
	<p><%= section.course.short_name %></p>
	<h2><%= link_to section.course.title, xxx@xxx.xxx section) %></h2>
	<p><%= section.meeting_days_and_times %></p>
	<nav>
		<%= link_to "View the Syllabus", xxx@xxx.xxx section ), :class => "icon file" %>
		<%= link_to "Request Your Grades", xxx@xxx.xxx section ), :class => "icon star" %>
	</nav>
</div>			
