<%= content_for :header do %>
xxx@xxx.xxx %></h1>
	<h4><%= show_short_date(@semester.start_date) %> - <%= xxx@xxx.xxx %></h4>
<% end %>

<div class="clear"></div>

<h4>Choose your Class:</h4>
<ul class="sliding">
xxx@xxx.xxx do |section| %>
		<li>
			<%= link_to xxx@xxx.xxx section) do %>
				<span class="class_short_name"><%= section.course.short_name %></span>
				<span class="class_long_name"><%= section.course.title %></span>
				<span class="class_meetings"><%= section.meeting_days_and_times %></span>
			<% end %>
		</li>		
	<% end %>		
</ul>
