<%= content_for :header do %>
xxx@xxx.xxx %></h1>
<% end %>

<section>
	<h1 xxx@xxx.xxx %> Classes</h1>
	<article>	
		<ul id="semester_sections">
xxx@xxx.xxx do |section| %>
			<li name="<%= "#{section.meeting_days.gsub( ' ', '' )}#{section.course.title.gsub( ' ', '' )}" %>">
					<%= link_to xxx@xxx.xxx section) do %>
						<div><%= section.course.short_name %></div>
						<h2><%= section.course.title %></h2>
						<p><%= section.meeting_days_and_times %></p>
					<% end %>
				</li>		
			<% end %>		
		</ul>
	</article>
</section>
