<%= render 'semesters/semesters_header' %>
<%= render partial: 'semesters/semester', locals: xxx@xxx.xxx %>
<%= render partial: 'sections/section', locals: xxx@xxx.xxx main: true} %>

	<div class="block sections">
		<h3>Syllabus</h3>
		<nav>
			<a href="#" class="icon" id="print">Print this Syllabus</a>
		</nav>

		<table>
			<tr>
				<td>Course number:</td>
				<td>
					<strong>
xxx@xxx.xxx %>
					</strong>
				</td>
			</tr>
			<tr>
				<td>Call Number:</td>
				<td>
					<strong>
xxx@xxx.xxx %>
					</strong>
				</td>
			</tr>
			<tr>
				<% xxx@xxx.xxx == "Online" %>
					<td>Course Type:</td>
xxx@xxx.xxx %></td>
				<% else %>
					<td>Meeting Days:</td>
					<td>
						<strong>
xxx@xxx.xxx %>
						</strong>
					</td>
				<% end %>
			</tr>
			<tr>
				<% xxx@xxx.xxx == "Online" %>
					<td class="blank"></td>
					<td class="blank"></td>
				<% else %>
					<td>Meeting Times: </td>
					<td>
						<strong>
							<%= show_time @section.start_time %> - <%= xxx@xxx.xxx %>
						</strong>
					</td>
				<% end %>
			</tr>
			<tr>
				<td>Room Number:</td>
				<td>
					<strong>
xxx@xxx.xxx %>
					</strong>
				</td>
			</tr>
		</table>
	</div>

		<div class="block sections">
			<h4>Instructor Information</h4>
			<table>
				<tr>
					<td class="second_column">Instructor:</td>
					<td>
						<strong>
							<%= @section.instructor.first_name %> xxx@xxx.xxx %>
						</strong>
					</td>
				</tr>
				<tr>
					<td class="second_column">Office Number:</td>
					<td>
						<strong>
xxx@xxx.xxx %>
						</strong>
					</td>
				</tr>
				<tr>
					<td class="second_column">Office Hours:</td>
					<td>
						<strong>
							<%= link_to( 'See xxx@xxx.xxx ) %>
						</strong>
					</td>
				</tr>
				<tr>
					<td class="second_column">Office Phone:</td>
					<td>
						<strong>
xxx@xxx.xxx %>
						</strong>
					</td>
				</tr>
				<tr>
					<td class="second_column">Email Address:</td>
					<td>
						<strong>
							<%= xxx@xxx.xxx %>
						</strong>
					</td>
				</tr>
				<tr>
					<% xxx@xxx.xxx %>
						<td>Twitter:</td>
						<td><%= link_to "@#{@section.instructor.twitter_handle}", xxx@xxx.xxx %></td>
					<% else %>
						<td class="blank"></td>
						<td class="blank"></td>
					<% end %>
				</tr>
				<tr>
					<td class="second_column">Web Site:</td>
					<td>
						<strong>
xxx@xxx.xxx %>
						</strong>
					</td>
				</tr>
			</table>
		</div>

		<div class="block sections pagebreak">
			<h4>School of xxx@xxx.xxx %></h4>
			<table id="divisionTable">
				<tr>
					<td>Dean:</td>
					<td>
						<strong>
xxx@xxx.xxx %>
						</strong>
					</td>
				</tr>
				<tr>
					<td>Office Number:</td>
					<td>
						<strong>
xxx@xxx.xxx %>
						</strong>
					</td>
				</tr>
				<tr>
					<td>Phone Number:</td>
					<td>
						<strong>
xxx@xxx.xxx %>
						</strong>
					</td>
				</tr>
			</table>
		</div>

		<div class="block sections pagebreak">
			<h4>Course Prerequisites</h4>
			<p>
xxx@xxx.xxx %>
			</p>
		</div>

		<div class="block sections pagebreak">
			<h4>Next Course in Sequence</h4>
			<p>
xxx@xxx.xxx %>
			</p>
		</div>

		<div class="block sections pagebreak">
			<h4>Books and Resources</h4>
			<% xxx@xxx.xxx > 0 %>
				<p><b><%= xxx@xxx.xxx 'Textbook' %></b></p>
xxx@xxx.xxx do |book| %>
					<p>
						<em>
							<% if book.required %>
								Required text:
							<% else %>
								Optional text:
							<% end %>
						</em>
						<%= link_to "<strong>#{book.title}</strong>".html_safe, 'http://www.amazon.com/exec/obidos/ASIN/' + book.isbn + '/ingeniouscom-20' %>
						, by: <%= book.author %>, <%= book.publisher %>, ISBN: <%= book.isbn %>
					</p>
				<% end %>
			<% end %>

			<% xxx@xxx.xxx > 0 %>
				<p><b><%= xxx@xxx.xxx 'Website' %></b></p>
xxx@xxx.xxx do |website| %>
					<p>
						<%= link_to "<strong>#{website.title}</strong>".html_safe, website.url %> at <%= link_to website.url, website.url %>
					</p>
				<% end %>
			<% end %>
		</div>

		<div class="block sections pagebreak">
			<h4>Other Materials</h4>
xxx@xxx.xxx %></p>
		</div>

		<div class="block sections pagebreak">
			<h4>Course Objectives</h4>
			<p>Upon completion of this course, a student should be able to do the following:</p>
			<ol>
xxx@xxx.xxx do |o| %>
					<li><%= o.description %></li>
				<% end %>
			</ol>
		</div>

		<div class="block sections pagebreak">
			<h4>Policies</h4>
xxx@xxx.xxx do |policy| %>
				<section>
					<h4><%= policy.syllabus_part.title %></h4>
					<%= markdown policy.syllabus_part.description %>
				</section>
			<% end %>
		</div>


		<div id="endNoteDiv" class="block sections">
			<p>
				As a courtesy to the class, if you carry a cell phone for professional or personal purposes please set it to vibrate or a soft ring. If you need to respond to calls or pages please leave the classroom to complete your business. Thank You.
			</p>
		</div>
