
<%= render partial: 'semesters/semester', locals: {semester: @semester} %>
<%= render partial: 'sections/section', locals: {section: @section} %>
<%= render partial: 'sections/syllabus_header', locals: {main: true} %>

	<div class="block sections">
		<header><h3>Details</h3></header>

		<ul>
			<li class="icon" id="print_p"><a href="#" class="icon icon-printer" title="Print this syllabus" id="print"><span class="text_label">Print this Syllabus</span></a></li>
		</ul>

		<table>
			<tr>
				<td>Course number:</td>
				<td>
					<strong>
						<%= @section.course.short_name %>
					</strong>
				</td>
			</tr>
			<tr>
				<td>Call Number:</td>
				<td>
					<strong>
						<%= @section.call_number %>
					</strong>
				</td>
			</tr>
			<tr>
				<% if @section.days == "Online" %>
					<td>Course Type:</td>
					<td><%= @section.days %></td>
				<% else %>
					<td>Meeting Days:</td>
					<td>
						<strong>
							<%= @section.days %>
						</strong>
					</td>
				<% end %>
			</tr>
			<tr>
				<% if @section.days == "Online" %>
					<td class="blank"></td>
					<td class="blank"></td>
				<% else %>
					<td>Meeting Times: </td>
					<td>
						<strong>
							<%= show_time @section.start_time %> - <%= show_time @section.end_time %>
						</strong>
					</td>
				<% end %>
			</tr>
			<tr>
				<td>Room Number:</td>
				<td>
					<strong>
						<%= @section.room_number %>
					</strong>
				</td>
			</tr>
		</table>
	</div>

		<div class="block instructors">
			<header>
				<h4>Instructor</h4>
			</header>

			<table>
				<tr>
					<td class="second_column">Instructor:</td>
					<td>
						<strong>
							<%= @section.instructor.first_name %> <%= @section.instructor.last_name %>
						</strong>
					</td>
				</tr>
				<tr>
					<td class="second_column">Office Number:</td>
					<td>
						<strong>
							<%= @section.instructor.office_number %>
						</strong>
					</td>
				</tr>
				<tr>
					<td class="second_column">Office Hours:</td>
					<td>
						<strong>
							<%= link_to( 'See Website', @section.instructor.office_hours.url ) %>
						</strong>
					</td>
				</tr>
				<tr>
					<td class="second_column">Office Phone:</td>
					<td>
						<strong>
							<%= @section.instructor.phone_number %>
						</strong>
					</td>
				</tr>
				<tr>
					<td class="second_column">Email Address:</td>
					<td>
						<strong>
							<%= mail_to @section.instructor.email %>
						</strong>
					</td>
				</tr>
				<tr>
					<% if @section.instructor.twitter_handle %>
						<td>Twitter:</td>
						<td><%= link_to "@#{@section.instructor.twitter_handle}", "http://twitter.com/#{@section.instructor.twitter_handle}" %></td>
					<% else %>
						<td class="blank"></td>
						<td class="blank"></td>
					<% end %>
				</tr>
				<tr>
					<td class="second_column">Web Site:</td>
					<td>
						<strong>
							<%= @section.instructor.website %>
						</strong>
					</td>
				</tr>
			</table>
		</div>

		<div class="block divisions pagebreak">
			<header>
				<p><%= @section.instructor.division.name %></p>
				<h4>School</h4>
			</header>

			<table id="divisionTable">
				<tr>
					<td>Dean:</td>
					<td>
						<strong>
							<%= @section.instructor.division.associate_dean %>
						</strong>
					</td>
				</tr>
				<tr>
					<td>Office Number:</td>
					<td>
						<strong>
							<%= @section.instructor.division.office_number %>
						</strong>
					</td>
				</tr>
				<tr>
					<td>Phone Number:</td>
					<td>
						<strong>
							<%= @section.instructor.division.phone_number %>
						</strong>
					</td>
				</tr>
			</table>
		</div>

		<div class="block courses pagebreak">
			<header>
				<h4>Prerequisites</h4>
			</header>

			<p>
				<%= @section.course.prerequisite %>
			</p>
		</div>

		<div class="block sections pagebreak">
			<header>
				<h4>Next Course</h4>
			</header>

			<p>
				<%= @section.course.next_course %>
			</p>
		</div>

		<div class="block books pagebreak">
			<header>
				<h4>Resources</h4>
			</header>

			<% if @section.course.books.size > 0 %>
				<p><b><%= pluralize_without_count @section.course.books.size, 'Textbook' %></b></p>
				<% @section.course.books.each do |book| %>
					<p>
						<em>
							<% if book.required %>
								Required text:
							<% else %>
								Optional text:
							<% end %>
						</em>
						<%= link_to "<strong>#{book.title}</strong>".html_safe, 'http://www.amazon.com/exec/obidos/ASIN/' + book.isbn + '/ingeniouscom-20' %>
						, by: <%= book.author %>, <%= book.publisher %>, ISBN: <%= book.isbn %>
					</p>
				<% end %>
			<% end %>

			<% if @section.course.websites.size > 0 %>
				<p><b><%= pluralize_without_count @section.course.websites.size, 'Website' %></b></p>
				<% @section.course.websites.each do |website| %>
					<p>
						<%= link_to "<strong>#{website.title}</strong>".html_safe, website.url %> at <%= link_to website.url, website.url %>
					</p>
				<% end %>
			<% end %>
		</div>

		<div class="block courses pagebreak">
			<header>
				<h4>Materials</h4>
			</header>

			<p><%= @section.course.required_materials %></p>
		</div>

		<div class="block courses pagebreak">
			<header>
			<h4>Objectives</h4>
			</header>

			<p>Upon completion of this course, a student should be able to do the following:</p>
			<ol>
				<% @section.course.objectives.each do |o| %>
					<li><%= o.description %></li>
				<% end %>
			</ol>
		</div>


		<% @section.course.policies.each do |policy| %>
			<div class="block policies pagebreak">
				<header><h4><%= policy.syllabus_part.title %></h4></header>
				<%= markdown policy.syllabus_part.description %>
			</div>
		<% end %>


		<div id="endNoteDiv" class="block sections">
			<p>
				As a courtesy to the class, if you carry a cell phone for professional or personal purposes please set it to vibrate or a soft ring. If you need to respond to calls or pages please leave the classroom to complete your business. Thank You.
			</p>
		</div>
