<%= content_for :header do %>
	<h1>Instructors</h1>
<% end %>

<section>
	<nav>
		<%= link_to "Back", '/admin', :class => "icon back" %>
	</nav>
	
	<header>
		<p>Listing all</p>
		<h1>Instructors</h1>
	</header>
	
	<ul class="actions">
		<li><%= link_to "Add a New Instructor", new_admin_instructor_path %></li>
	</ul>

	<div class="fancy">
		<table>
		  <tr>
		    <th>Name</th>
		    <th>Title</th>
		    <th>Contact</th>
		    <th>Division</th>

			<th></th>
			<th></th>
			<th></th>
		  </tr>

		<% for instructor xxx@xxx.xxx %>
		  <tr>
		    <td><%= instructor.last_name %>, <%= instructor.first_name %></td>
		    <td><%= instructor.title %></td>
		    <td>
					<%= mail_to instructor.email %>
					<% if instructor.twitter_handle %>
						<br/>or <%= link_to xxx@xxx.xxx "http://twitter.com/#{instructor.twitter_handle}" %>
					<% end %>
				</td>
		    <td><%= instructor.division.name %></td>
		    <td class="show"><%= link_to 'Show', [:admin,instructor] %></td>
		    <td class="edit"><%= link_to 'Edit', edit_admin_instructor_path(instructor) %></td>
		    <td class="destroy"><%= link_to 'Destroy', [:admin,instructor], :confirm => 'Are you sure?', :method => :delete %></td>
		  </tr>
		<% end %>
		</table>
	</div>
</section>
