<%= content_for :header do %>
xxx@xxx.xxx %></h1>
	<h4><%= xxx@xxx.xxx "section" %></h4>
<% end %>

<div class="nav">
	<ul class="nav">
		<li><%= link_to admin_instructors_path do %> <%= render :partial => "shared/back_link" %> <% end %></li>
		<li><%= link_to xxx@xxx.xxx do %> <%= render :partial => "shared/edit_link" %> <% end %></li>
	</ul>
</div>

<p>
  <b>Phone number:</b>
  xxx@xxx.xxx %>
</p>

<p>
  <b>Office number:</b>
  xxx@xxx.xxx %>
</p>

<p>
	<b>Office Hours: </b>
	<%= link_to( 'office xxx@xxx.xxx )%>
</p>

<p>
  <b>Email:</b>
  xxx@xxx.xxx %>
</p>

<p>
  <b>Website:</b>
  xxx@xxx.xxx %>
</p>

<p>
  <b>Division:</b>
  xxx@xxx.xxx %>
</p>


