<%= render 'admin/admin/admin_header' %>
<%= render 'instructors_header' %>

<%= render partial: 'instructor', locals: xxx@xxx.xxx %>

<div class="block instructors">
	<h4>Details</h4>
	<table>
		<tr>
			<td class="blank">Phone number:</td>
xxx@xxx.xxx %></td>
		</tr>

		<tr>
			<td class="blank">Office number:</td>
xxx@xxx.xxx %></td>
		</tr>

		<tr>
			<td class="blank">Office Hours: </td>
			<td><%= link_to( 'office xxx@xxx.xxx )%></td>
		</tr>

		<tr>
			<td class="blank">Email:</td>
xxx@xxx.xxx %></td>
		</tr>
		
		<tr>
			<td class="blank">Twitter:</td>
			<td><%= link_to "@#{@instructor.twitter_handle}", xxx@xxx.xxx %></td>
		</tr>

		<tr>
			<td class="blank">Website:</td>
xxx@xxx.xxx %></td>
		</tr>

		<tr>
			<td class="blank">Division:</td>
xxx@xxx.xxx %></td>
		</tr>
	</table>
</div>
