<div class="clear"></div>

<div class="block general_contacts header block--width2">
	<header>
		<p><%= APP_CONFIG['host'] %></p>
		<h2>Contact Form</h2>
	</header>
</div>

<div class="clear"></div>

<div class="block general_contacts">
	<header>
		<p><%= @contact.return_email %></p>
		<h3>From</h3>
	</header>

	<p>Subject: <%= @contact.subject %></p>

	<% if @contact.attachment_file_name %>
		<p>
			<strong>Attachment included</strong><br/>
			Content-type: <%= @contact.attachment_content_type %><br/>
			Size: <%= @contact.attachment_file_size %><br/>
			Name: <%= @contact.attachment_file_name %><br/>
		</p>
	<% end %>
</div>

<div class="block general_contacts block--width2">
	<p>
		<%= markdown @contact.body %>
	</p>
</div>
