<div class="block homework_return_requests">
  <p><%= homework_return_request.email %></p>
  <h3><%= homework_return_request.assignment.title %> <%= homework_return_request.assignment.lab.title %></h3>
  <h4>
		<% if homework_return_request.enrollment %>
			<%= homework_return_request.enrollment.student.last_name %>, <%= homework_return_request.enrollment.student.first_name %>
		<% else %>
			No Enrollment Found
		<% end %>
	</h4>
	<p><%= show_short_date homework_return_request.created_at %> @ <%= show_time homework_return_request.created_at %></p>
	<p>
		<b>Status:</b>
		<%= homework_return_request.status %>
	</p>
	<ul>
	  <li><%= link_to 'Destroy', [:admin,homework_return_request], confirm: 'Are you sure?', method: :delete, remote: true %></li>
	</ul>
</div>
