<%= content_for :header do %>
	<h1>Homework Return Requests</h1>
<% end %>

<section>
	<nav>
		<%= link_to "Back", '/admin', :class => "icon back" %>
	</nav>

	<header>
		<p>Listing all</p>
		<h1>Homework Return Requests</h1>
	</header>

	<ul class="actions">
		<li><%= link_to 'Clear All', destroy_all_admin_homework_return_requests_path, :confirm => 'Are you sure?', :method => :delete %></li>
	</ul>

	<div class="fancy">
		<table>
		  <tr>
			<th></th>
			<th>Email</th>
			<th>Assignment</th>
			<th>Enrollment</th>
			<th>Created At</th>
		  </tr>

		<% for homework_return_request xxx@xxx.xxx %>
			<tr>
			<td class="status <%= homework_return_request.status == "denied" ? "red" : "green" %>"></td>
		
		    <td><%= homework_return_request.email %></td>
		    <td><%= homework_return_request.assignment.title %> <%= homework_return_request.assignment.lab.title %></td>
		    <td>
				<% if homework_return_request.enrollment %>
					<%= homework_return_request.enrollment.student.last_name %>, <%= homework_return_request.enrollment.student.first_name %>
				<% else %>
					No Enrollment Found
				<% end %>
			</td>
			<td><%= show_short_date homework_return_request.created_at %> @ <%= show_time homework_return_request.created_at %></td>
		    <td class="destroy"><%= link_to 'Destroy', [:admin,homework_return_request], :confirm => 'Are you sure?', :method => :delete %></td>
		  </tr>
		<% end %>
		</table>
	</div>
</section>
