<div class="block <%= double_width_if_main(defined? main) %>">
	<% unless assignment.graded? %>
		<p>Not graded (<%= assignment.works.size %> waiting)</p>
	<% end %>

	<h3><%= link_to "#{assignment.title} - #{assignment.lab.title}", [:admin,assignment.section.semester,assignment.section,assignment] %></h3>

	<p>
		Due: <%= show_short_date assignment.duedate %>
		<%= "(#{distance_of_time_in_words_to_now(assignment.duedate)})" if assignment.duedate > Time.now %>
	</p>

	<p>Worth: <%= assignment.worth %></p>
	<p>Average: <%= assignment.average.round(2) %></p>
	
	<ul>
		<% if assignment.short_url and assignment.short_url =~ /goo\.gl/ %>
			<li><%= link_to 'Goo.gl Stats', xxx@xxx.xxx %></li>
		<% elsif assignment.short_url and assignment.short_url =~ /bit\.ly/ %>
			<li><%= link_to 'Bit.ly Stats', "https://bitly.com/a/bitlinks/" %></li>
		<% end %>
	</ul>
	
	<ul>
		<li><%= link_to 'Grade', admin_semester_section_assignment_works_path(assignment.section.semester,assignment.section,assignment) %></li>
		<li><%= link_to 'Edit', edit_admin_semester_section_assignment_path(assignment.section.semester,assignment.section,assignment) %></li>
		<li><%= link_to 'Destroy', xxx@xxx.xxx confirm: 'Are you sure?', method: :delete, remote: true %></li>
	</ul>
</div>
