<div class="block form assignments" data-script="init_assignment_form( )">
	<%= form_for([:admin,@semester,@section,@assignment], remote: true) do |f| %>
		<%= show_error_messages_for @assignment %>
		<ol>
			<li>
				<div class="details">
					<%= f.label :title %>
					<p>Assignment title?</p>
				</div>

				<div class="field"><%= f.text_field :title %></div>
			</li>

			<li>
				<div class="details">
					<%= f.label :duedate %>
					<p>When is it due?</p>
				</div>

				<!-- <div class="field"><%# f.datetime_select :duedate, {default: 14.days.from_now} %></div> -->
				<div class="field jquery_datepicker">
					<%= f.hidden_field :duedate %>
					<div id="duedateepicker" class="datepicker jqueryui"></div>
				</div>
			</li>

			<li>
				<div class="details">
					<%= f.label :lab %>
					<p>What lab is this?</p>
				</div>

				<div class="field"><%= f.collection_select( :lab_id, Lab.where(['course_id = ?', @section.course]), :id, :title, include_blank: true ) %></div>
			</li>

			<li class="action">
				<div><%= f.submit %></div>
			</li>
		</ol>
	<% end %>

	<script type="text/javascript">
		var init_assignment_form = function() {
			console.log("*** init'ing datapicker field");
			$("#duedateepicker").datetimepicker( { numberOfMonths: 1,
												inline: true,
												altField: '#assignment_duedate',
												altFormat: 'yy-mm-dd',
												altSeparator: "T",
												dateFormat: 'yy-mm-dd',
												timeFormat: 'HH:mm:ssz',
												altFieldTimeOnly: false,
												showSecond: false,
												oneLine: true,
												hour: <%= @assignment.id != nil ? @assignment.duedate.in_time_zone('US/Central').strftime('%H') : 23 %>,
												minute: <%= @assignment.id != nil ? @assignment.duedate.strftime('%M') : 59 %>,
												defaultDate: new Date('<%= @assignment.id != nil ? @assignment.duedate.to_formatted_s(:iso8601) : 14.days.from_now.to_formatted_s(:iso8601) %>')
											 });
		}
	</script>
</div>
