
<%= render 'admin/semesters/semesters_header' %>
<%= render partial: 'admin/semesters/semester', locals: {semester: @semester} %>
<%= render partial: 'admin/courses/course', locals: {course: @section.course} %>
<%= render partial: 'admin/sections/sections_header', locals: {semester: @semester} %>
<%= render partial: @section %>
<%= render partial: 'assignments_header', locals: {section: @assignment.section} %>

<div class="block block--width2 assignments">
	<header>
		<h3>Edit Assignment</h3>
	</header>
</div>

<%= render 'form' %>
