<%# admin assignments show %>


<%= render 'admin/semesters/semesters_header' %>
<%= render partial: 'admin/semesters/semester', locals: {semester: @semester} %>
<%= render partial: 'admin/courses/course', locals: {course: @section.course} %>
<%= render partial: 'admin/sections/sections_header', locals: {semester: @semester} %>
<%= render partial: @section %>
<%= render partial: 'assignments_header', locals: {section: @section} %>

<%= render partial: 'assignment', locals: {assignment: @assignment, main: true} %>

<div class="block assignments">
	<header>
		<h3>Requirements</h3>
	</header>
	<table>
		<% @assignment.lab.requirements.each do |r| %>
			<tr>
				<td><%= r.description %></td><td><%= r.points %> pts</td>
			</tr>
		<% end %>
		<tr><td>Total</td><td><%= @assignment.worth %> pts</td></tr>
	</table>
</div>

<div class="block assignments block--width2">
	<header>
		<h3>Instructions</h3>
	</header>
	<section>
		<%= markdown @assignment.lab.instructions %>
	</section>
</div>

<% if @assignment.lab.extras.size > 0 %>
	<div class="block assignments">
		<header>
			<h3>Extras</h3>
		</header>
		<ul>
			<% @assignment.lab.extras.each do |extra| %>
				<li>
					<%= link_to extra.file.url do %>
						<div><%= extra.description %></div>
						<h2><%= extra.file_file_name %></h2>
						<p></p>
					<% end %>
				</li>
			<% end %>
		</ul>
	</div>
<% end %>
