<div class="block form works">
	<%= form_for([:admin,@semester,@section,@assignment,@work], html: {multipart: true}, remote: true) do |f| %>
		<%= show_error_messages_for @work %>
		<ol>
			<li>
				<div class="details">
					<%= f.label :assignment %>
					<p>Which assignment?</p>
				</div>
			
				<div class="field"><%=  select( "work", "assignment_id", Assignment.all.collect {|s| [ s.title + ' - ' + s.lab.title, s.id ] }, { include_blank: true } ) %></div>
			</li>
		
			<li>
				<div class="details">
					<%= f.label :enrollment %>
					<p>For whom?</p>
				</div>

				<div class="field"><%=  select( "work", "enrollment_id", Enrollment.where(['section_id = ?', @section]).collect {|s| [ s.student.last_name + ', ' + s.student.first_name, s.id ] }.sort, { include_blank: true } ) %></div>
			</li>

			<% if @work.assignment.lab.allow_uploads %>
				<li>
					<div class="details">
						<%= f.label :upload %>
					
						<p>			
							<% if @work.upload_file_name %>
								Current upload: <%= link_to @work.upload_file_name, @work.upload.url %>
							<% else %>
								No upload included yet
							<% end %>
						</p>
					</div>
				
					<div class="file field">
						<span class="prompt">Click to Browse</span>
						<%= f.file_field :upload %>
					</div>
					<div class="filename"></div>
				</li>
			<% end %>

			<li class="action">
				<div><%= f.submit %></div>
			</li>
		</ol>
	<% end %>
</div>
