<div class="block works <%= double_width_if_main(defined? main) %> <%= work.graded? ? "graded" : "" %>" data-active="<%= work.graded? ? "inactive" : "active" %>">
	<header>
		<% if work.enrollment %>
	    <%= link_to admin_semester_section_assignment_work_path(work.assignment.section.semester,work.assignment.section,work.assignment,work) do %>
				<p><%= "#{work.assignment.title} from #{work.enrollment.student.last_name}, #{work.enrollment.student.first_name}" %></p>
				<h6><%= work.enrollment.student.last_name %></h6>
			<% end %>
		<% else %>
			<%= link_to edit_admin_semester_section_assignment_work_path(work.assignment.section.semester,work.assignment.section,work.assignment,work) do %>
				<h6>Unknown</h6>
			<% end %>
		<% end %>
	</header>

	<ul>
		<li class="icon"><%= link_to grade_admin_semester_section_assignment_work_path(work.assignment.section.semester,work.assignment.section,work.assignment,work), {class: "icon icon-check", title: "Grade"} do %> <span class="text_label">Grade</span> <% end %></li>
		<li class="icon"><%= link_to edit_admin_semester_section_assignment_work_path(work.assignment.section.semester,work.assignment.section,work.assignment,work), {class: "icon icon-note", title: "Edit"} do %><span class="text_label">Edit</span><% end %></li>
		<li class="icon"><%= link_to [:admin,work.assignment.section.semester,work.assignment.section,work.assignment,work], {class: "icon icon-trash", title: "Destroy", data: {confirm: 'Are you sure?', method: :delete, remote: true}} do %><span class="text_label">Destroy</span><% end %></li>
		<li class="icon"><%= link_to destroy_grade_admin_semester_section_assignment_work_path(work.assignment.section.semester,work.assignment.section,work.assignment,work), {class: "icon icon-close", title: "UnGrade", data: {confirm: 'Are you sure?', method: :delete, remote: true}} do %> <span class="text_label">UnGrade</span> <% end %></li>
	</ul>

	<p><%= mail_to work.email, work.email, subject: "#{work.assignment.section.course.title} #{work.assignment.title}" %></p>

	<% diff = (work.assignment.duedate.to_date - work.created_at.to_date).to_i %>
	<p>
		submitted:
		<b>
			<%= "#{pluralize diff.abs, 'day'} #{((diff < 0) ? 'late' : 'early')}" %>
			(<%= work.created_at.to_s(:short) %>)
		</b>
	</p>

	<% if work.graded? %>
		<p>score: <b><%= work.score %> (<%= number_to_percentage work.percentage, {precision: 2} %>)</b></p>
	<% else %>
		<p>score: <b>-</b></p>
	<% end %>
</div>
