
<%= render 'admin/semesters/semesters_header' %>
<%= render partial: 'admin/semesters/semester', locals: {semester: @semester} %>
<%= render partial: 'admin/courses/course', locals: {course: @section.course} %>
<%= render partial: 'admin/sections/sections_header', locals: {semester: @semester} %>
<%= render partial: @section %>
<%= render partial: 'admin/assignments/assignments_header', locals: {section: @section} %>
<%= render partial: 'admin/assignments/assignment', locals: {assignment: @assignment} %>

<%= render partial: 'work', locals: {work: @work, main: true} %>

<% if @work.assignment.lab.allow_uploads %>
	<div class="block works">
		<header>
				<% if @work.upload_content_type == "removed" %>
					<h3>Removed</h3>
				<% elsif @work.upload %>
					<%= link_to "#{@work.upload.url}&code=#{@work.withdrawal_code}" do %>
						<p><%= @work.upload_file_name %></p>
						<h3>Download</h3>
					<% end %>
				<% else %>
					<h3>No Upload</h3>
				<% end %>  
		</header>
	</div>
<% end %>

<%= render 'grade_form' %>
