
<%= render 'admin/semesters/semesters_header' %>
<%= render partial: 'admin/semesters/semester', locals: xxx@xxx.xxx %>
<%= render partial: 'admin/courses/course', locals: xxx@xxx.xxx %>
<%= render partial: 'admin/sections/sections_header', locals: xxx@xxx.xxx %>
<%= render xxx@xxx.xxx %>
<%= render partial: 'admin/assignments/assignments_header', locals: xxx@xxx.xxx %>
<%= render partial: 'admin/assignments/assignment', locals: xxx@xxx.xxx %>

<%= render partial: 'work', locals: xxx@xxx.xxx main: true} %>

<% xxx@xxx.xxx %>
	<div class="block works">
		<header>
				<% xxx@xxx.xxx == "removed" %>
					<h3>Removed</h3>
				<% xxx@xxx.xxx %>
					<%= link_to xxx@xxx.xxx do %>
xxx@xxx.xxx %></p>
						<h3>Download</h3>
					<% end %>
				<% else %>
					<h3>No Upload</h3>
				<% end %>  
		</header>
	</div>
<% end %>

<%= render 'grade_form' %>
