<%= content_for :header do %>
xxx@xxx.xxx %></h1>
<% end %>

<section>
	<nav>
		<%= link_to 'Back', xxx@xxx.xxx @section, @assignment ), :class => "icon back" %>
	</nav>

	<header>
		<p><%= @assignment.title %> - xxx@xxx.xxx %></p>
		<h1>
			Upload: 
			<% xxx@xxx.xxx == "removed" %>
				Removed
			<% xxx@xxx.xxx %>
				<%= link_to @work.upload_file_name, xxx@xxx.xxx @section, @assignment, @work ) %>
			<% else %>
				No Upload
			<% end %>  
		</h1>
	</header>

	<ul class="actions">
		<li><%= link_to 'Edit this work', xxx@xxx.xxx %></li>
	</ul>

	<div class="fancy">
		<table>
			<tr>
				<th>Requirement</th><th>Worth</th><th>Earned</th>
			</tr>
	
			<%  
				possible = 0
				earned = 0
			%>
	
xxx@xxx.xxx do |r| %>
				<tr>
					<td><%= r.description %></td>
					<td><%= r.points %></td>
			
					<% 
						awarded_point xxx@xxx.xxx :first, :conditions => ['requirement_id=?',r] )
						possible += r.points
						earned += awarded_point.points if awarded_point
					%>
			
					<td><%= awarded_point.points if awarded_point %></td>
				</tr>
			<% end %>
			<tr class="last_row">
				<td></td>
				<td><%= possible %></td>
				<td><%= earned %></td>
			</tr>
		</table>
	</div>

	<div class="admin_comments">
		<h1>Instructors Comments:</h1>
xxx@xxx.xxx %></p>
	
		<strong>Score: </strong>
		<%= number_to_percentage((earned/possible.to_f)*100) %> - <%= score_to_letter ((earned/possible.to_f)*100) %>
	</div>
</section>
