
<%= render 'admin/semesters/semesters_header' %>
<%= render partial: 'admin/semesters/semester', locals: {semester: @semester} %>
<%= render partial: 'admin/courses/course', locals: {course: @section.course} %>
<%= render partial: 'admin/sections/sections_header', locals: {semester: @semester} %>
<%= render partial: @section %>
<%= render partial: 'admin/assignments/assignments_header', locals: {section: @section, main: true} %>
<%= render partial: 'admin/assignments/assignment', locals: {assignment: @assignment} %>

<%= render partial: 'work', locals: {work: @work} %>

<div class="block works">
	<header>
			<% if @work.upload_content_type == "removed" %>
				<p>Removed</p>
				<h6>Upload</h6>
			<% elsif @work.upload %>
				<%= link_to download_admin_semester_section_assignment_work_url( @semester, @section, @assignment, @work ) do %>
					<p><%= @work.upload_file_name %></p>
					<h6>Upload</h6>
				<% end %>
			<% else %>
				<p>No Upload</p>
				<h6>Upload</h6>
			<% end %>
	</header>
</div>

<div class="block works">
	<header><h6>Requirements</h6></header>
	<table>
		<tr>
			<th></th><th>Worth</th><th>Earned</th>
		</tr>

		<%  
			possible = 0
			earned = 0
		%>

		<% @work.assignment.lab.requirements.each do |r| %>
			<tr>
				<td><%= r.description %></td>
				<td><%= r.points %></td>
		
				<% 
					awarded_point = @work.awarded_points.where(['requirement_id=?',r]).first
					possible += r.points
					earned += awarded_point.points if awarded_point
				%>
		
				<td><%= awarded_point.points if awarded_point %></td>
			</tr>
		<% end %>
		<tr class="last_row">
			<td></td>
			<td><%= possible %></td>
			<td><%= earned %></td>
		</tr>
	</table>
</div>

<div class="block works">
	<header><h6>Comments</h6></header>
	<p><%= @work.instructors_comments %></p>

	<p>
		<strong>Score: </strong>
		<%= number_to_percentage((earned/possible.to_f)*100) %> - <%= score_to_letter ((earned/possible.to_f)*100) %>
	</p>
</div>
