<h1>New awarded_point</h1>

<% xxx@xxx.xxx do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :points %><br />
    <%= f.text_field :points %>
  </p>
  <p class="submit_bar">
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', xxx@xxx.xxx %>
