<div class="block">	
	<h4><%= link_to lab.title, xxx@xxx.xxx lab) %></h4>
	<p><%= lab.objective %></p>
	<p>is lab visible: <%= lab.visible %></p>
	<p>are uploads allowed: <%= lab.allow_uploads %></p>
	
	<ul>
		<li><%= link_to 'Edit', xxx@xxx.xxx %></li>
		<li><%= link_to 'Destroy', xxx@xxx.xxx confirm: 'Are you sure?', method: :delete, remote: true %></li>
	</ul>
</div>
