<%= content_for :header do %>
xxx@xxx.xxx %></h1>
<% end %>

<section>
	<nav>
		<%= link_to 'Back', xxx@xxx.xxx ), class: "icon back" %>
	</nav>

	<header>
xxx@xxx.xxx %></p>
xxx@xxx.xxx %></h1>
	</header>

	<%= xxx@xxx.xxx do |f| %>
		<%= xxx@xxx.xxx %>
		<ol>
			<li><div class="details"><%= f.label :visible %><p></p></div><div class="field"><%= f.check_box :visible %></div></li>

			<li><div class="details"><%= f.label :allow_uploads %><p></p></div><div class="field"><%= f.check_box :allow_uploads %></div></li>

			<li><div class="details"><%= f.label :title %><p></p></div><div class="field"><%= f.text_field :title %></div></li>

			<li><div class="details"><%= f.label :objective %><p></p></div><div class="field"><%= f.text_field :objective %></div></li>

			<li class="textarea"><div class="details"><%= f.label :instructions %><p></p></div><div class="field"><%= f.text_area :instructions %></div></li>

			<li class="action">
				<div><%= f.submit "Create" %></div>
			</li>
		</ol>
	<% end %>
</section>
