<% content_for :header do %>
	<h1>Create a New Lab</h1>
	<h2>for xxx@xxx.xxx %></h2>
<% end %>

<div class="nav">
	<ul class="nav">
		<li><% link_to xxx@xxx.xxx ) do %> <%= render :partial => 'shared/back_link' %> <% end %></li>
	</ul>
</div>
<% xxx@xxx.xxx do |f| %>
  <%= f.error_messages %>
	<ol>
		<li>
			<%= f.label :visible %>
			<%= f.check_box :visible %>
		</li>

		<li>
			<%= f.label :allow_uploads %>
			<%= f.check_box :allow_uploads %>
		</li>

		<li>
			<%= f.label :title %><br />
			<%= f.text_field :title %>
		</li>
	
		<li>
			<%= f.label :objective %><br />
			<%= f.text_field :objective %>
		</li>
	
		<li>
			<%= f.label :instructions %><br />
			<%= f.text_area :instructions %>
		</li>
	
		<li class="submit_bar">
			<%= f.submit "Create" %>
		</li>
	</ol>
<% end %>


