<%= render partial: 'admin/courses/courses_header' %>
<%= render partial: 'admin/courses/course', locals: {course: @course} %>
<%= render partial: 'labs_header', locals: {main: true} %>

<%= render partial: 'lab', locals: {lab: @lab} %>

<div class="block labs">
	<header>
		<h5>Details</h5>
	</header>

	<table>
		<tr>
			<td class="blank">Visible</td><td><%= @lab.visible %></td>
		</tr>
		<tr>
			<td class="blank">Allow Uploads</td><td><%= @lab.allow_uploads %></td>
		</tr>
		<tr>
			<td class="blank">Assigned</td>
			<td><%= pluralize @lab.assignments.count, "time" %></td>
		</tr>
	</table>
</div>

<div class="block labs" data-script='$("#requirements_table").reorderTable( "<%= sort_admin_course_lab_requirements_url( @course,@lab ) %>", "<%= form_authenticity_token %>" );'>
	<header><h5>Requirements</h5></header>
	<table id="requirements_table">
		<tr>
			<th></th>
			<th>pts</th>
			<th></th>
			<th></th>
		</tr>
		<% for requirement in @lab.requirements %>
			<%= render requirement %>
		<% end %>
		<tr class="last_row">
			<td class="blank">Total:</td>
			<td><%= @lab.worth %></td>
			<td class="blank"></td>
			<td class="blank"></td>
		</tr>
	</table>

	<ul>
		<li class="icon"><%= link_to new_admin_course_lab_requirement_path(@course,@lab), {class: "icon icon-plus", title: "New"} do %><span class="text_label">Add Requirement</span><% end %></li>
	</ul>
</div>

<div class="block labs block--width2">
	<header id="assignment_instructions_header"><h5>Instructions</h5></header>

	<div id="assignment_instructions">
		<%= markdown @lab.instructions %>
	</div>
</div>

<div class="block labs">
	<header id="assignment_extras_header"><h5>Extras</h5></header>
	<div class="extras_table">
		<% if @lab.extras.size > 0 %>
			<table>
			<% for extra in @lab.extras %>
			  <tr>
			    <td class="nav"><%=link_to extra.file_file_name, extra.file.url %></td>
			    <td><%= extra.description %></td>
			    <td class="edit"><%= link_to 'Edit', edit_admin_course_lab_extra_path(@course,@lab,extra) %></td>
			    <td class="destroy"><%= link_to 'Destroy', [:admin,@course,@lab,extra], data: {confirm: 'Are you sure?'}, method: :delete, remote: true %></td>
			  </tr>
			<% end %>
			</table>
		<% end %>
		<ul class="actions">
			<li class="icon"><%= link_to new_admin_course_lab_extra_path(@course,@lab), {class: "icon icon-plus", title: "New"} do %><span class="text_label">Add an extra</span><% end %></li>
		</ul>
	</div>
</div>
