<%= render partial: 'courses/course', locals: {course: @course} %>

<%
prev_step = @how_to.steps.where(['position=?',@step.position - 1]).first
next_step = @how_to.steps.where(['position=?',@step.position + 1]).first
%>

<% if @section %>
	<%= render partial: 'semesters/semester', locals: {semester: @section.semester} %>
	<%= render partial: 'sections/section', locals: {section: @section} %>

	<%
		prev_url = course_how_to_step_path(@course, @how_to, prev_step, section_id: @section) if prev_step
		next_url = course_how_to_step_path(@course, @how_to, next_step, section_id: @section) if next_step
	%>
<% else %>
	<%
		prev_url = course_how_to_step_path(@course, @how_to, prev_step) if prev_step
		next_url = course_how_to_step_path(@course, @how_to, next_step) if next_step
	%>
<% end %>


<div class="block block--width2 steps">
	<header>
		<p><%= @step.how_to.title %></p>
		<h5>How To</h5>
	</header>
</div>

<% if @step.image_file_name %>
	<div class="block steps">
		<section class="how_to_step_image">
			<%= image_tag( @step.image.url(:large) ) %>
		</section>
	</div>
<% end %>

<div class="block steps">
	<header>
		<p><%= @step.title %></p>
		<h5>Step <%= @step.position %></h5>
	</header>
	<%= markdown @step.instructions %>

	<% if prev_step or next_step %>
		<ul id="next_prev">
			<% if prev_step %>
				<li class="prev"><%= link_to( "Go back to the previous step", prev_url ) %></li>
			<% end %>
			<% if next_step %>
				<li class="next"><%= link_to( "Move on to the next step", next_url, {class: 'next'} ) %></li>
			<% end %>
		</ul>
	<% end %>
</div>
