<%= content_for :header do %>
xxx@xxx.xxx %></h1>
<% end %>

<section>
	<h1 class="page_description">Solution Return</h1>
	
	<nav>
		<h1>Navigation</h1>
		<%= link_to "#{@assignment.title} - #{@assignment.lab.title}", xxx@xxx.xxx @section, @assignment ), class: 'icon back' %>
	</nav>
	
	<header>
		<p><%= @assignment.title %> of xxx@xxx.xxx %></p>
		<h1>Homework Return</h1>
	</header>

	
	<%= xxx@xxx.xxx do |f| %>
		<h1>Complete the Form</h1>
		<%= xxx@xxx.xxx %>
		<ol>
			<li>
				<div class="details">
					<%= f.label :email, "What is your TCC email address?" %>
					<p>Your email address is required so that the lab you submitted can be found.</p>
				</div>
				<div class="field"><%= f.text_field :email, placeholder: "first_last@mail.tulsacc.edu", data: {mask: xxx@xxx.xxx %></div>
			</li>
			<li class="action">
				<div><%= f.submit "Send Request" %></div>
			</li>
		</ol>
	<% end %>
</section>
