<div class="block <%= double_width_if_main(defined? main) %> divisions">

	<header><h3><%= division.name %></h3></header>

  <ul>
    <li class="icon"><%= link_to edit_admin_division_path(division), {class: "icon icon-note", title: "Edit"} do %><span class="text_label">Edit</span><% end %></li>
    <li class="icon"><%= link_to [:admin,division], {class: "icon icon-trash", title: "Destroy", data: {confirm: 'Are you sure?', method: :delete, remote: true}} do %><span class="text_label">Destroy</span><% end %></li>
  </ul>

  <p>Office Number: <b><%= division.office_number %></b></p>
  <p>Phone: <b><%= division.phone_number %></b></p>
  <p>Dean: <b><%= division.associate_dean %></b></p>

</div>
