<%= content_for :header do %>
xxx@xxx.xxx %></h1>
	<h4>Associate Dean: xxx@xxx.xxx %></h4>
<% end %>

<nav>
		<li><%= link_to admin_divisions_path do %> <%= render :partial => "shared/back_link" %> <% end %></li>
		<li><%= link_to xxx@xxx.xxx do %> <%= render :partial => "shared/edit_link" %> <% end %></li>
	</nav>

<p>
  <strong>Office number:</strong>
  xxx@xxx.xxx %>
</p>

<p>
  <strong>Phone number:</strong>
  xxx@xxx.xxx %>
</p>

<p>
  <strong>Associate dean:</strong>
  xxx@xxx.xxx %>
</p>


