
<%= render partial: 'courses/course', locals: {course: @course} %>
<%= render partial: "courses/syllabus_header", locals: {main: true} %>

<div class="block courses">
	<header>
		<h2>Details</h2>
	</header>

	<ul>
		<li class="icon" id="print_p"><a href="#" class="icon icon-printer" title="Print this syllabus" id="print"><span class="text_label">Print this Syllabus</span></a></li>
	</ul>

	<table>
		<tr>
			<td>Course number:</td>
			<td>
				<strong>
					<%= @course.short_name %>
				</strong>
			</td>
		</tr>
		<tr>
			<td>Call Number:</td>
			<td>
				<strong>

				</strong>
			</td>
		</tr>
	</table>
</div>

<div class="block pagebreak courses">
	<header>
		<h3>Prerequisites</h3>
	</header>

	<p>
		<%= @course.prerequisite %>
	</p>
</div>

<div class="block pagebreak courses">
	<header>
		<h3>Next Course</h3>
	</header>

	<p>
		<%= @course.next_course %>
	</p>
</div>

<div class="block pagebreak courses">
	<header>
		<h3>Resources</h3>
	</header>

	<% if @course.books.size > 0 %>
		<p><b><%= pluralize_without_count @course.books.size, 'Textbook' %></b></p>
		<% @course.books.each do |book| %>
			<p>
				<em>
					<% if book.required %>
						Required text:
					<% else %>
						Optional text:
					<% end %>
				</em>
				<%= link_to "<strong>#{book.title}</strong>".html_safe, 'http://www.amazon.com/exec/obidos/ASIN/' + book.isbn + '/ingeniouscom-20' %>
				, by: <%= book.author %>, <%= book.publisher %>, ISBN: <%= book.isbn %>
			</p>
		<% end %>
	<% end %>

	<% if @course.websites.size > 0 %>
		<p><b><%= pluralize_without_count @course.websites.size, 'Website' %></b></p>
		<% @course.websites.each do |website| %>
			<p>
				<%= link_to "<strong>#{website.title}</strong>".html_safe, website.url %> at <%= link_to website.url, website.url %>
			</p>
		<% end %>
	<% end %>
</div>

<div class="block pagebreak courses">
	<header>
		<h3>Materials</h3>
	</header>

	<p><%= @course.required_materials %></p>
</div>

<div class="block pagebreak courses">
	<header>
		<h3>Objectives</h3>
	</header>

	<p>Upon completion of this course, a student should be able to do the following:</p>
	<ol>
		<% @course.objectives.each do |o| %>
			<li><%= o.description %></li>
		<% end %>
	</ol>
</div>

<% @course.policies.each do |policy| %>
	<div class="block policies pagebreak">
		<header><h4><%= policy.syllabus_part.title %></h4></header>
		<%= markdown policy.syllabus_part.description %>
	</div>
<% end %>

<div id="endNoteDiv" class="block courses">
	<p>
		As a courtesy to the class, if you carry a cell phone for professional or personal purposes please set it to vibrate or a soft ring. If you need to respond to calls or pages please leave the classroom to complete your business. Thank You.
	</p>
</div>
