<%= render 'courses/courses_header' %>
<%= render partial: 'courses/course', locals: xxx@xxx.xxx %>
<%= render partial: "courses/syllabus_header", locals: {main: true} %>

<div class="block courses">
	<h2>Section Details</h2>
	<nav>
		<p><a href="#" class="icon" id="print">Print this Syllabus</a></p>
	</nav>

	<table>
		<tr>
			<td>Course number:</td>
			<td>
				<strong>
xxx@xxx.xxx %>
				</strong>
			</td>
		</tr>
		<tr>
			<td>Call Number:</td>
			<td>
				<strong>

				</strong>
			</td>
		</tr>
	</table>
</div>

<div class="block pagebreak courses">
	<h3>Course Prerequisites</h3>
	<p>
xxx@xxx.xxx %>
	</p>
</div>

<div class="block pagebreak courses">
	<h3>Next Course in Sequence</h3>
	<p>
xxx@xxx.xxx %>
	</p>
</div>

<div class="block pagebreak courses">
	<h3>Books and Resources</h3>
	<% xxx@xxx.xxx > 0 %>
		<h4><%= xxx@xxx.xxx 'Textbook' %></h4>
xxx@xxx.xxx do |book| %>
			<p>
				<em>
					<% if book.required %>
						Required text:
					<% else %>
						Optional text:
					<% end %>
				</em>
				<%= link_to "<strong>#{book.title}</strong>".html_safe, 'http://www.amazon.com/exec/obidos/ASIN/' + book.isbn + '/ingeniouscom-20' %>
				, by: <%= book.author %>, <%= book.publisher %>, ISBN: <%= book.isbn %>
			</p>
		<% end %>
	<% end %>

	<% xxx@xxx.xxx > 0 %>
		<h4><%= xxx@xxx.xxx 'Website' %></h4>
xxx@xxx.xxx do |website| %>
			<p>
				<%= link_to "<strong>#{website.title}</strong>".html_safe, website.url %> at <%= link_to website.url, website.url %>
			</p>
		<% end %>
	<% end %>
</div>

<div class="block pagebreak courses">
	<h3>Other Materials</h3>
xxx@xxx.xxx %></p>
</div>

<div class="block pagebreak courses">
	<h3>Course Objectives</h3>
	<p>Upon completion of this course, a student should be able to do the following:</p>
	<ol>
xxx@xxx.xxx do |o| %>
			<li><%= o.description %></li>
		<% end %>
	</ol>
</div>

xxx@xxx.xxx do |policy| %>
	<div class="block policies pagebreak">
		<header><h4><%= policy.syllabus_part.title %></h4></header>
		<%= markdown policy.syllabus_part.description %>
	</div>
<% end %>

<div id="endNoteDiv" class="block courses">
	<p>
		As a courtesy to the class, if you carry a cell phone for professional or personal purposes please set it to vibrate or a soft ring. If you need to respond to calls or pages please leave the classroom to complete your business. Thank You.
	</p>
</div>
