<div class="block">
	<h5><%= link_to example.name, example.file.url %></h5>
	<p><%= example.description %></p>
	<p><%= show_date_and_time(example.created_at) %></p>
	
	<ul>
		<li><%= link_to 'Edit', xxx@xxx.xxx %></li>
		<li><%= link_to 'Destroy', xxx@xxx.xxx confirm: 'Are you sure?', method: :delete, remote: true %></li>
	</ul>
</div>
