<%= content_for :header do %>
	<h1>Examples for xxx@xxx.xxx %></h1>
xxx@xxx.xxx %></h2>
	<h4>Call Number: xxx@xxx.xxx %></h4>
<% end %>

<div class="nav">
	<ul class="nav">
		<li><%= link_to xxx@xxx.xxx @section ) do %> <%= render :partial => 'shared/back_link' %> <% end %></li>
		<li><%= link_to xxx@xxx.xxx @section ) do %> <%= render :partial => 'shared/new_link' %> <% end %></li>
	</ul>
</div>

<div class="fancy">
	<table>
	  <tr>
	    <th>Name</th>
	    <th>Description</th>
	    <th>File</th>
	  </tr>

xxx@xxx.xxx do |example| %>
	  <tr>
	    <td><%=h example.name %></td>
	    <td><%= truncate example.description %></td>
			<td><%=h show_date_and_time(example.created_at) %></td>
	    <td><%= link_to 'Show', xxx@xxx.xxx %></td>
	    <td><%= link_to 'Edit', xxx@xxx.xxx %></td>
	    <td><%= link_to 'Destroy', xxx@xxx.xxx :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
	</table>
</div>
