<%= content_for :header do %>
	<h1>Section Example</h1>
<% end %>

<section>
	<nav>
		<%= link_to 'Back', xxx@xxx.xxx :class => "icon back" %>
	</nav>

	<header>
		<p><%= "#{@section.course.title} #{@section.meeting_days}" %> <%= show_time(@section.start_time) %> - <%= xxx@xxx.xxx %></p>
		<h1><%= @example.name %> xxx@xxx.xxx %>)</h1>
	</header>

	<ul class="actions">
		<li><%= link_to 'Edit this Example', xxx@xxx.xxx %></li>
	</ul>

	<div class="fancy">
		<table>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>File</th>
			</tr>
			<tr>
				<td>
				  xxx@xxx.xxx %>
				</td>
						
				<td>
				  xxx@xxx.xxx %>
				</td>
						
				<td>
				  <%= xxx@xxx.xxx @example.file.url %>
				</td>
			</tr>
		</table>
	</div>
</section>
