<%= content_for :header do %>
	<h1><%= @example.name %> xxx@xxx.xxx %>)</h1>
	<h2><%= "#{@section.course.title} xxx@xxx.xxx %></h2>
	<h4><%= show_time(@section.start_time) %> - <%= xxx@xxx.xxx %></h4>
<% end %>

<div class="nav">
	<ul class="nav">
		<li><%= link_to xxx@xxx.xxx do %> <%= render :partial => 'shared/back_link' %> <% end %></li> 
		<li><%= link_to xxx@xxx.xxx do %> <%= render :partial => 'shared/edit_link' %> <% end %></li>
	</ul>
</div>

<p>
  <b>Name:</b>
  xxx@xxx.xxx %>
</p>

<p>
  <b>Description:</b>
  xxx@xxx.xxx %>
</p>

<p>
  <b>File:</b>
  <%= xxx@xxx.xxx @example.file.url %>
</p>
