xxx@xxx.xxx %></h3>
<h1>Editing Policy</h1>
<h2></h2>

<hr/>

<% xxx@xxx.xxx do |f| %>
  <%= f.error_messages %>
	<ol>
		<li>
			<%= f.label :syllabus_part, "Syllabus Section to Add" %><br />
			<%=  select( "policy", "syllabus_part_id", SyllabusPart.find( :all ).collect {|s| [ s.name, s.id ] }, { :include_blank => true } ) %>
		</li>
		<li class="submit_bar">
			<%= f.submit "Update" %>
		</li>
	</ol>
<% end %>

<p class="nav">
	<%= link_to 'Back', xxx@xxx.xxx %>
	<%= link_to 'Show', xxx@xxx.xxx %>
</p>
