
<%= render partial: 'admin/courses/course', locals: {course: @course} %>
<%= render partial: 'policies_header', locals: {main: true} %>

<div class="block policies" data-script='$("#policies").reorderTable( "<%= sort_admin_course_policies_url( @course ) %>", "<%= form_authenticity_token %>" );'>
	<header>
		<p>Policies</p>
		<h4>Current</h4>
	</header>

	<table>
		<tbody id="policies">
			<% for policy in @policies %>
				<%= render policy %>
			<% end %>
		</tbody>
	</table>
</div>

<% @syllabus_parts.each do |syllabus_part| %>
	<% if ! @course.policies.where(['syllabus_part_id=?', syllabus_part.id]).first %>
		<%= render partial: syllabus_part %>
	<% end %>
<% end %>
