<nav>
		<%= link_to 'Back', xxx@xxx.xxx :class => "icon back" %>
	</nav>


<%= xxx@xxx.xxx do |f| %>
  <%= xxx@xxx.xxx %>
	<ol>
		<li>
			<%= f.label :syllabus_part, "Syllabus Section to Add" %><br />
			<%=  select( "policy", "syllabus_part_id", SyllabusPart.find( :all ).collect {|s| [ s.name, s.id ] }, { :include_blank => true } ) %>
		</li>
		<li class="submit_bar">
			<%= f.submit "Add" %>
		</li>
	</ol>
<% end %>


