<div class="block block--width2 sections">
	<header>
		<p>Your Grades for <%= @enrollment.section.course.title %></p>
		<h3><%= @enrollment.section.semester.name %></h3>
	</header>
</div>


<div class="block block--width2 labs">
	<header>
		<h2>Grade Summary</h2>
	</header>
	<p>
		Your current grade is: <strong class="current_grade"><%= @enrollment.current_grade %></strong>
		<br/>
		<br/>
		There have been <strong><%= @enrollment.section.points_assigned %></strong> points assigned
		and you have earned <strong><%= @enrollment.current_points %></strong> points leaving you
		with a <strong><%= number_to_percentage @enrollment.current_average %></strong> average.
	</p>

	<p>
		<em>
			Included in this email you will find detailed information on your current grade in
			<%= @enrollment.section.course.title %>.  If you have any questions about these grades
			please <%= link_to 'contact your instructor', new_general_contact_url(:host => APP_CONFIG['host']) %>.
		</em>
	</p>
</div>



<%- @enrollment.section.assignments.each do |assignment| -%>

	<div class="block works">
		<%- work = assignment.works.find_by_enrollment_id( @enrollment ) -%>

		<header>
			<p><%= assignment.lab.title %></p>
			<h3><%= assignment.title %></h3>
		</header>

		<%- if work -%>
			<%- if work.graded? -%>
				<!-- work exists and has been graded = show grade -->
				<p><strong>Your Score:</strong> <%= number_to_percentage ((work.score / work.assignment.worth.to_f)*100) %></p>

				<% unless work.instructors_comments.blank? %>
					<p>
						<b>Instructors Comments: </b><br>
						<%= work.instructors_comments %>
					</p>
				<% end %>


				<table>
					<tr>
						<th></th>
						<th>pts</th>
					</tr>
					<%- work.awarded_points.each do |p| -%>
						<tr>
							<td>
								<%= p.requirement.description %>
							</td>
							<td>
								<%= p.points %>/<%= p.requirement.points %>
							</td>
						</tr>
					<%- end -%>
				</table>
			<%- else -%>
				<!-- work exists but hasn't been graded -->
				<%- if work.created_at > assignment.duedate -%>
					<!-- word exists but was turned in late = it was late -->
					<p><strong>Your Score:</strong> - </p>

					<p>
						<b>Comments</b><br>
						Your work was submitted after the due date.  Depending on your class's specific policy it
						may or may not be graded but no grade exists for this lab at this time.  If you feel that this
						is incorrect you can <%= link_to 'contact your instructor', new_general_contact_url(host: APP_CONFIG['host']) %>.
					</p>
				<%- else -%>
					<!-- work exists and wasn't turned in late = wait for grading -->
					<p>
						<b>Comments</b><br>
						Your lab was submitted and is awaiting grading.
					</p>
				<%- end -%>
			<%- end -%>
		<%- else -%>
			<!-- work doesn't exist -->
			<%- if assignment.overdue? -%>
				<!-- work doesn't exist and should have been turned in by now = nothing submitted? -->
				<p><strong>Your Score:</strong> -</p>

				<section>
					<h4>Comments</h4>
					<p>
						No submission was found from you for this assignment and no grade exists for this work.
						If you're certain that there should be a grade here, you know you turned your assignment
						in, and you know that it has been graded, then you should
						<%= link_to 'contact your instructor', new_general_contact_url(host: APP_CONFIG['host']) %>.
					</p>
				</section>
			<%- else -%>
				<!-- work doesn't exist and isn't due yet = wait for the due date -->
				<section>
					<h4>Comments</h4>
					<p>
						This assignment has not been submitted and is not yet due.  Submit your assignment by
						<%= assignment.duedate.strftime '%A %B %d, %Y %I:%M %p' %>
						to make sure that you receive credit for your work.
					</p>
				</section>
			<%- end -%>
		<%- end -%>
	</div> <!-- end block -->
<%- end -%>
