	<div class="block general_contacts">
		<header>
			<p>
				Section Announcement for <%= @section.course.title %>
			</p>
			<h3><%= @section.course.short_name %></h3>
		</header>
	</div>

	<div class="block general_contacts">
		<header>
			<p>To: Section <%= @section.call_number %> of <%= @section.course.title %></p>
			<h3>Announcement</h3>
		</header>

		<%= markdown @text %>

		<footer>
			<%= @section.instructor.first_name %> <%= @section.instructor.last_name %><br/>
			<%= @section.instructor.title %>
		</footer>
	</div>
