<% course = @section.course %>

<div class="block waiters">
	<header>
		<h3>Available</h3>
	</header>
	<p>
		This email is in response to a request you made to be notified when a section of
		<strong><%= course.title %></strong> is going to be offered at Tulsa Community College.
	</p>
	<p>
		If you have any additional questions about the class please feel free to <%= link_to 'contact me', new_general_contact_url(:host => APP_CONFIG['host']) %>.
	</p>
</div>


<div class="block waiters">
	<header><h3>Course Availability Notification</h3></header>
</div>


<div class="block courses">
	<header><h2>ClassDetails</h2></header>

	<p>
		A new section of <strong><%= course.title %></strong> was just created and will be offered during
		the <strong><%= @section.semester.name %> semester</strong> which begins on
		<strong><%= show_short_date(@section.start_date) %></strong>.
	</p>

	<p>
		<strong>Course name:</strong> <%= course.title %><br/>
		<strong>Course number:</strong> <%= course.short_name %><br/>
		<strong>Section number (CRN):</strong> <%= @section.call_number %><br/>
		<strong>Meeting Days/Times:</strong> <%= @section.meeting_days_and_times %>
	</p>

	<p>
		If you are interested in enrolling in this class you can visit any <a href="http://tulsacc.edu">TCC campus</a>
		or <a href="https://mytcc.tulsacc.edu/">enroll online</a> using the above information.
	</p>
</div>
