<div class="clear"></div>

<%- if @work -%>
	<%- assignment = @work.assignment -%>
	<%- section = assignment.section -%>
	<%- semester = section.semester -%>

	<% unless @work.upload_content_type == "removed" %>

		<div class="block works">
			<header>
				<p><%= section.course.title %></p>
				<h3>Here it is</h3>
			</header>
			<p>
				You requested a copy of the assignment that was submitted for
				<strong><%= assignment.title %></strong> from your email address.
				The requested assignment is attached to this email.
			</p>

			<p>
				If in the future (but still before the due date of course) you want to replace the submitted version of
				your lab with a new one, your will need to <%= link_to 'withdraw your submission', withdraw_semester_section_assignment_works_url(semester, section, assignment,
					code: @work.withdrawal_code.to_s,
					host: APP_CONFIG['host']) %>.
			</p>
		</div>


		<div class="block works">
			<header>
				<p>Submitted Homework</p>
				<h3><%= assignment.title %></h3>
			</header>
		</div>


		<div class="block works">
			<header>
				<h4>Details</h4>
			</header>
			<p>
				<strong>Name:</strong> <%= @work.upload_file_name %><br/>
			</p>
			<p>
				<strong>Size:</strong> <%= number_to_human_size(@work.upload_file_size) %><br/>
			</p>
			<p>
				<strong>File type:</strong> <%= @work.upload_content_type %><br/>
			</p>

			<p>Your assignment file is attached</p>
		</div>

	<% else %>

		<div class="block works">
			<header>
				<p>Submitted Homework</p>
				<h3><%= assignment.title %></h3>
			</header>
		</div>

		<div class="block works">
			<header>
				<p>
					Requested copy of assignment
				</p>
				<h3><%= assignment.title %></h3>
			</header>

			<p>
				The assignment you requested be return is no longer available.  Due to disk space considerations, homework assignments
				must be removed after a certain period of time.
			</p>
		</div>

	<% end %>

<% else %>

	<div class="block works">
		<header>
			<h3>Homework Return</h3>
		</header>
	</div>


	<div class="block works">
		<p>A request was made to have an assignment returned to this address.  Unfortunately, no work for this address could be found. </p>
	</div>

<% end %>
