<%- assignment = @work.assignment -%>
<%- section = assignment.section -%>
<%- semester = section.semester -%>

	<div class="block works">
		<header>
			<h3><%= section.course.title %></h3>
		</header>
	</div>
	
	
	<div class="block works">
			<header>
				<p>Homework Submitted</p>
				<h3><%= assignment.title %></h3>
			</header>
			
			<p>A solution for <strong><%= assignment.title %></strong> was just submitted using your email address.  If you submitted your own work then 
			everything is good and you can take this email as evidence that your work has been submitted.
			If you did not submit this homework assignment you will need to 
			<%= link_to "contact your instructor", new_general_contact_url(host: APP_CONFIG['host']) %>
			immediately.</p>

			<p>If in the future (but still before the due date of course) you want to replace the submitted version of 
			your lab with a new one, you will need to 
			<%= link_to "withdraw your submission", withdraw_semester_section_assignment_works_url(semester, section, assignment, 
				code: @work.withdrawal_code.to_s, 
				host: APP_CONFIG['host']) %>.</p>
		
			<p>
				<%= Time.zone.now.to_s(:date) %>
			</p>
	</div>
