<%= content_for :header do %>
	<h1>How to's</h1>
<% end %>

<section>
	<nav>
		<% if session[:referrer] %>
			<%= link_to "Back", session[:referrer], class: "icon back" %>
		<% end %>
	</nav>
	
	<header>
		<p>Managing</p>
		<h1>How to's</h1>
	</header>

	<ul class="actions">
		<li><%= link_to "Create a New How To", new_admin_how_to_path %></li>
	</ul>

	<div class="fancy">
		<table>
xxx@xxx.xxx do |how_to| %>
				<tr>
					<td><%= link_to how_to.title, admin_how_to_path(how_to) %></td>
					<td class="edit"><%= link_to 'Edit', edit_admin_how_to_path(how_to) %></td>
					<td class="destroy"><%= link_to 'Destroy', [:admin,how_to], :confirm => 'Are you sure?', :method => :delete %></td>
				</tr>
			<% end %>
		</table>
	</div>
</section>
