<%= content_for :header do %>
	<h1>How to's</h1>
	<h4>Listing all</h4>
<% end %>

<div class="nav">
	<ul class="nav">
		<% if session[:referrer] %>
			<li><%= link_to session[:referrer] do %> <%= render :partial => "shared/back_link" %> <% end %></li>
		<% end %>
		<li>
			<%= link_to new_admin_how_to_path do %> <%= render :partial => "shared/new_link" %> <% end %>
		</li>
	</ul>
</div>

<ul>
	<% for how_to xxx@xxx.xxx %>
		<li>
			<div class="top_half"><%= link_to how_to.title, admin_how_to_path(how_to) %></div>
			<div class="bottom_half">
				<%= link_to 'Edit', edit_admin_how_to_path(how_to) %> |
				<%= link_to 'Destroy', [:admin,how_to], :confirm => 'Are you sure?', :method => :delete %>
			</div>
		</li>
	<% end %>
</ul>
