<%= content_for :head do %>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function( ) {	
			$("#steps").reorderTable( "<%= xxx@xxx.xxx ) %>", "<%= form_authenticity_token %>" );
		});
	</script>
<% end %>

<%= content_for :header do %>
	<h1>How to...</h1>
<% end %>

<section>
	<nav>
		<%= link_to 'Back', admin_how_tos_path, :class => "icon back"%>
	</nav>

	<header>
		<p><%= xxx@xxx.xxx "step" %></p>
		<h1>How to: xxx@xxx.xxx %></h1>	
	</header>

	<ul class="actions">
		<li><%= link_to 'Edit this How to', xxx@xxx.xxx %></li>
	</ul>

	<article class="course_info">
		<h1>Description</h1>
		<p class="admin_comments">
		  xxx@xxx.xxx %>
		</p>
	</article>
	
	<article class="course_info">
		<h1>Steps</h1>
		<div class="fancy">
			<table>
				<tbody id="steps">
					<% for step xxx@xxx.xxx %>
						<%= render :partial => step %>
					<% end %>
				</tbody>
			</table>
		</div>
	
		<ul class="actions">
			<li><%= link_to 'New step', xxx@xxx.xxx %></li>
		</ul>
	</article>
	
	<article class="course_info">
		<h1>Is used by <%= xxx@xxx.xxx "Course" %></h1>
		<ul class="actions">
xxx@xxx.xxx do |course| %>
				<li>
					<%= link_to course.title, admin_course_path(course) %>
				</li>
			<% end %>
		</ul>
	</article>
</section>
