<div class="block admin_header <%= double_width_if_main(defined? main) %>">
	<h2><%= link_to 'Admin', admin_admin_index_path %></h2>
	
	<nav>
		<ul>
			<li><%= link_to '404', '/idontexist' %></li>
			<li><%= link_to '505', '/examples/test_exception' %></li>
			<li><%= link_to 'Error', '/examples/test_error' %></li>
			<li><%= link_to 'Notice', '/examples/test_notice' %></li>
			<li><%= link_to 'Test Tweet', '/examples/test_tweet' %></li>
			<li><%= link_to 'Signout', logout_path, :method => :delete %></li>
		</ul>
	</nav>
</div>
