<div class="block admin_header header <%= double_width_if_main(defined? main) %>">
	<header>
		<%= link_to admin_admin_index_path do %>
			<h2>Admin</h2>
		<% end %>
	</header>

	<ul>
		<li class="icon"><%= link_to '/idontexist', {class: "icon icon-question", title: 'visit 404'} do %><span class="text_label">404</span><% end %></li>
		<li class="icon"><%= link_to '/examples/test_exception', {class: "icon icon-exclamation", title: "visit 505"} do %><span class="text_label">505</span><% end %></li>
		<li class="icon"><%= link_to '/examples/test_error', {class: "icon icon-energy", title: "Send Error Alert"} do %><span class="text_label">Error</span><% end %></li>
		<li class="icon"><%= link_to '/examples/test_notice', {class: "icon icon-bell", title: "Send Notice Alert"} do %><span class="text_label">Notice</span><% end %></li>
		<li class="icon"><%= link_to '/examples/test_tweet', {class: "icon icon-social-twitter", title: "Send Test Tweet"} do %><span class="text_label">Test Tweet</span><% end %></li>
		<li class="icon">
			<%= link_to logout_path, {class: "icon icon-logout", title: "Signout", data: {method: :delete, remote: true}} do %>
				<span class="text_label">Signout</span>
			<% end %>
		</li>
	</ul>
</div>
