<%= content_for :header do %>
	<h1>Admin</h1>
<% end %>

<section>
	
	<header>
		<p><%= Time.now %></p>
		<h1>Admin</h1>
	</header>
	
	<article id="semesters">
		<div id="resources">
			<article>
				<header><h1>Data</h1></header>
				<ul id="data_links">
					<li>
						<%= link_to admin_semesters_path do %>
							<h2>Semesters (<%= Semester.count %>)</h2>
						<% end %>
					</li>
					<li>
						<%= link_to admin_courses_path do %>
							<h2>Courses (<%= Course.count %>)</h2>
						<% end %>
					</li>

					<li>
						<%= link_to admin_students_path do %>
							<h2>Students (<%= Student.count %>)</h2>
						<% end %>
					</li>

					<li>
						<%= link_to admin_instructors_path do %>
							<h2>Instructors (<%= Instructor.count %>)</h2>
						<% end %>
					</li>

					<!--<li>
						<%= link_to admin_enrollment_statuses_path do %>
							<h2>Enrollments Statuses (<%= EnrollmentStatus.count %>)</h2>
						<% end %>
					</li>-->

					<li>
						<%= link_to admin_divisions_path do %>
							<h2>Divisions (<%= Division.count %>)</h2>
						<% end %>
					</li>
				</ul>
			</article>

			<article>
				<header><h1>Requests</h1></header>
				<ul id="request_links">
					<li>
						<%= link_to admin_general_contacts_path do %>
							<h2><%= pluralize GeneralContact.count, "Contact" %></h2>
						<% end %>
					</li>
					<li>
						<%= link_to admin_grade_requests_path do %>
							<h2><%= pluralize GradeRequest.count, "Grade Request" %></h2>
						<% end %>
					</li>
					<li>
						<%= link_to admin_homework_return_requests_path do %>
							<h2><%= pluralize HomeworkReturnRequest.count, "Homework Return Request" %></h2>
						<% end %>
					</li>
				</ul>
			<article>
		</div>
		
		<header id="view_semesters_header"><h1>View Semesters</h1></header>
		<ul id="admin_semesters">
xxx@xxx.xxx do |semester| %>
			<li class="<%= "current" if semester == Semester.current %>">
					<%= link_to admin_semester_sections_path( semester ) do %>
						
						<div><%= show_short_date semester.start_date %> - <%= show_short_date semester.end_date %></div>
						<% if semester == Semester.current %>
							<h2><%= semester.name %> <span class="light">(Current)</span></h2>
						<% else %>
							<h2><%= semester.name %></h2>
						<% end %>
						<p><%= pluralize semester.sections.count, "section" %></p>
					<% end %>
				</li>
			<% end %>
			
			<% if Semester.count xxx@xxx.xxx %>
				<li>
					<%= link_to admin_semesters_path do %>
						
						<p><%= pluralize Semester.count xxx@xxx.xxx "semester" %> not shown</p>
						<h2>All Semesters...</h2>
						
					<% end %>
				</li>
			<% end %>
			
		</ul>
	</article>
</section>
