<%= content_for :header do %>
	<h1>Admin</h1>
<% end %>

<section>
	
	<header>
		<p><%= Time.now %></p>
		<h1>Admin</h1>
	</header>
	
	<article id="semesters">
		<header><h1>View Semesters</h1></header>
		<ul>
xxx@xxx.xxx do |semester| %>
			<li class="<%= "current" if semester == Semester.current %>">
					<%= link_to admin_semester_sections_path( semester ) do %>
						
						<p><%= show_short_date semester.start_date %> - <%= show_short_date semester.end_date %></p>
						<% if semester == Semester.current %>
							<h2><%= semester.name %> <span class="light">(Current)</span></h2>
						<% else %>
							<h2><%= semester.name %></h2>
						<% end %>
						
					<% end %>
				</li>
			<% end %>
			
			<% if Semester.count xxx@xxx.xxx %>
				<li>
					<%= link_to admin_semesters_path do %>
						
						<p><%= pluralize Semester.count xxx@xxx.xxx "semester" %> not shown</p>
						<h2>All Semesters...</h2>
						
					<% end %>
				</li>
			<% end %>
			
		</ul>
	</article>

	<nav id="resources">
		<article>
			<header><h1>Data</h1></header>
			<ul>
				<li>
					<%= link_to admin_semesters_path do %>
						Semesters (<%= Semester.count %>)
					<% end %>
				</li>
				<li>
					<%= link_to admin_courses_path do %>
						Courses (<%= Course.count %>)
					<% end %>
				</li>
	
				<li>
					<%= link_to admin_students_path do %>
						Students (<%= Student.count %>)
					<% end %>
				</li>
	
				<li>
					<%= link_to admin_instructors_path do %>
						Instructors (<%= Instructor.count %>)
					<% end %>
				</li>
	
				<li>
					<%= link_to admin_enrollment_statuses_path do %>
						Enrollments Statuses (<%= EnrollmentStatus.count %>)
					<% end %>
				</li>
	
				<li>
					<%= link_to admin_divisions_path do %>
						Divisions (<%= Division.count %>)
					<% end %>
				</li>
			</ul>
		</article>
	
		<article>
			<header><h1>Requests</h1></header>
			<ul>
				<li>
					<%= link_to admin_general_contacts_path do %>
						<%= pluralize GeneralContact.count, "Contact" %>
					<% end %>
				</li>
				<li>
					<%= link_to admin_grade_requests_path do %>
						<%= pluralize GradeRequest.count, "Grade Request" %>
					<% end %>
				</li>
				<li>
					<%= link_to admin_homework_return_requests_path do %>
						<%= pluralize HomeworkReturnRequest.count, "Homework Return Request" %>
					<% end %>
				</li>
			</ul>
		<article>
	</nav>
</section>
