<%= content_for :header do %>
	<h1>Login</h1>
<% end %>

<%= form_for :user, :action => :signin do |f| %>
	<ol>
		<li>
			<div class="details">
				<%= f.label :username %>
			</div>
			<div class="field"><%= f.text_field :username %></div>
		</li>
	
		<li>
			<div class="details">
				<%= f.label :password %>
			</div>
			<div class="field"><%= f.password_field :password %></div>
		</li>
	
		<li class="action">
			<div><%= f.submit 'Sign in' %></div>
		</li>
	</ol>
<% end %>
