<%= content_for :header do %>
	<h1>Login</h1>
	<h4>Admin</h4>
<% end %>

<div class="clear"></div>
<br/>
<%= form_for :user, :action => :signin do |f| %>
	<ol>
		<li>
			<%= f.label :username %>
			<%= f.text_field :username %>
		</li>
	
		<li>
			<%= f.label :password %>
			<%= f.password_field :password %>
		</li>
	
		<li class="submit_bar">
			<%= f.submit 'Sign in' %>
		</li>
	</ol>
<% end %>
