<%= content_for :header do %>
	<h1>New Enrollment</h1>	
<% end %>

<section>
	<nav>
		<%= link_to 'Back', xxx@xxx.xxx @section ), :class => "icon back"%>
	</nav>

	<header>
		<p>New Student for</p>
xxx@xxx.xxx %></h1>
	</header>

	<%= xxx@xxx.xxx do |f| %>
		<%= xxx@xxx.xxx %>
		<ol>
			<li>
				<div class="details">
					<label for="email">Email Address: </label>
					<p></p>
				</div>
				
				<div class="field"><%= text_field_tag 'email' %></div>
			</li>

			<li class="action">
				<div><%= f.submit "Enroll" %></div>
			</li>
		</ol>
	<% end %>
</section>
