
<%= render 'admin/semesters/semesters_header' %>
<%= render partial: 'admin/semesters/semester', locals: {semester: @semester} %>
<%= render partial: 'admin/courses/course', locals: {course: @section.course} %>
<%= render partial: 'admin/sections/sections_header', locals: {semester: @semester} %>
<%= render partial: 'admin/sections/section', locals: {section: @section} %>
<%= render partial: 'admin/enrollments/enrollments_header', locals: {section: @section} %>

<%= render partial: 'admin/enrollments/enrollment', locals: {enrollment: @enrollment, main: true} %>

	<% 
		possible = 0 
		earned = 0
	%>


<div class="block block--width2 enrollments">
	<header>
		<h5>Assignments</h5>
	</header>
	<table>
		<tr>
			<th>Assignment</th>
			<th>Lab</th>
			<th>Worth</th>
			<th>Score</th>
		</tr>
		<% @section.assignments.each do |assignment| %>
			<% 
				work = @enrollment.works.where(['assignment_id=?',assignment]).first
				earned += work.score if work
				possible += assignment.worth
			%>

			<tr>
				<td>
					<% if work %>
						<%= link_to assignment.title, admin_semester_section_assignment_work_path( @semester, @section, assignment, work ) %>
					<% else %>
						<%= assignment.title %>
					<% end %>
				</td>
				<td><%= assignment.lab.title %></td>
				<td><%= assignment.worth %></td>		
				<td>
					<% if work %>
						<%= work.score %>
					<% else %>
						-
					<% end %>
				</td>
			</tr>
		<% end %>
		<tr>
			<td colspan="2" class="blank">Totals:</td>
			<td><%= possible %></td>
			<td><%= earned %></td>
		</tr>
	</table>
</div>

<div class="block enrollments">
	<header>
		<h3>
			Current Score:
			<%= @enrollment.current_average %>% - <%= @enrollment.current_grade %><br/>
			Absences: <%= @enrollment.attendances.where(attendance_status_id: AttendanceStatus.absent.id).count %>
			/ <%= @enrollment.attendances.count %>
		</h3>
	</header>
	
	<p>
		<%- @statuses = EnrollmentStatus.all -%>
		<%- outputs = [] -%>

		<% @statuses.each do |status| %>
			<% if @enrollment.enrollment_status.name == status.name %>
				<% outputs << "<b>#{status.name}</b>" %>
			<% else %>
				<% outputs << link_to( status.name, admin_semester_section_enrollment_path( @semester, @section, @enrollment, enrollment: {enrollment_status_id: status.id} ), method: :put, remote: true ) %>
			<% end %>
		<% end %>
		
		<%= outputs.join( " &bull; " ).html_safe %>
	</p>
	
</div>
	
<div class="block block--width2 enrollments">
	<header><h5>Attendances</h5></header>
	<table>
		<tr>
			<th>Date</th>
		</tr>
		<% @enrollment.attendances.each do |attendance| %>
			<%= render partial: 'attendance', locals: {attendance: attendance} %>
		<% end %>
	</table>
</div>
	
