<div class="block labs <%= double_width_if_main(defined? main) %>">
	<header>
		<%= link_to course_lab_path(lab.course, lab) do %>
			<p><%= lab.title %></p>
			<h3>Lab</h3>
		<% end %>
	</header>

	<ul id="assignment_links">
		<% if defined?(main) %>
			<li class="icon" id="print_p"><a href="#" id="print" title="Print this lab" class="icon icon-printer"><span class="text_label">Print this Lab</span></a></li>
		<% end %>

		<% if current_user %>
			<li class="icon"><%= link_to edit_admin_course_lab_path(lab.course, lab), {class: "icon icon-note", title: "Edit this Lab"} do %><span class="text_label">Edit this Lab</span><% end %></li>
		<% end %>
	</ul>

	<p><%= pluralize lab.worth, 'point' %></p>
</div>
