<h1>Listing Labs for xxx@xxx.xxx %></h1>

<table>
  <tr>
    <th>Course</th>
    <th>Title</th>
    <th>Objective</th>
    <th>Instructions</th>
  </tr>

<% for lab xxx@xxx.xxx %>
  <tr>
    <td><%= lab.course.title %></td>
    <td><%= lab.title %></td>
    <td><%= lab.objective %></td>
    <td><%= lab.instructions %></td>
    <td><%= link_to 'Show', xxx@xxx.xxx %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Back', xxx@xxx.xxx ) %>
