<%= render partial: 'courses/course', locals: {course: @course} %>
<%= render partial: 'labs_header', locals: {course: @course} %>

<%= render partial: 'lab', locals: {lab: @lab, main: true} %>

<div class="block labs">
	<header id="requirements_header"><h4>Requirements</h4></header>
	<table id="requirements">
		<% @lab.requirements.each do |r| %>
			<tr>
				<td><%= r.description %></td><td><%= r.points %></td>
			</tr>
		<% end %>
		<tr><td>Total</td><td><%= @lab.worth %> pts</td></tr>
	</table>
</div>

<div class="block labs">
	<header><h4>Objective</h4></header>
	<p><%= @lab.objective %></p>
</div>

<div class="block labs block--width2">
	<header><h4>Instructions</h4></header>
	<div id="assignment_instructions">
		<%= markdown @lab.instructions %>
	</div>
</div>


<% if @lab.extras.size > 0 %>
<div class="block labs">
	<header><h4>Extras</h4></header>
	<ul>
		<% @lab.extras.each do |extra| %>
			<li>
				<%= link_to extra.file.url do %>
					<%= extra.description %><br/>
					<b><%= extra.file_file_name %></b>
				<% end %>
			</li>
		<% end %>
	</ul>
</div>
<% end %>
