<div class="block form block--width2 courses">
	<%= xxx@xxx.xxx remote: true) do |f| %>
		<%= xxx@xxx.xxx %>
		<ol>
			<li><div class="details"><%= f.label :title %><p></p></div><div class="field"><%= f.text_field :title %></div></li>

			<li class="textarea"><div class="details"><%= f.label :description %><p></p></div><div class="field"><%= f.text_area :description %></div></li>

			<li><div class="details"><%= f.label :discipline %><p></p></div><div class="field"><%= f.text_field :discipline %></div></li>

			<li><div class="details"><%= f.label :number %><p></p></div><div class="field"><%= f.text_field :number %></div></li>

			<li><div class="details"><%= f.label :credits %><p></p></div><div class="field"><%= f.text_field :credits %></div></li>

			<li><div class="details"><%= f.label :prerequisite %><p></p></div><div class="field"><%= f.text_field :prerequisite %></div></li>
	
			<li><div class="details"><%= f.label :next_course %><p></p></div><div class="field"><%= f.text_field :next_course %></div></li>
	
			<li class="textarea"><div class="details"><%= f.label :required_materials %><p></p></div><div class="field"><%= f.text_area :required_materials %></div></li>

			<li class="action">
				<div><%= f.submit %></div>
			</li>
		</ol>
	<% end %>
</div>
