
<%= render partial: 'courses_header' %>

<%= render partial: 'course', locals: xxx@xxx.xxx main: true} %>

<div class="block courses">
	<header>
		<p>This course has occurred <%= xxx@xxx.xxx "time" %></p>
	</header>
	
	<p><%= link_to(pluralize(@course.waiters.count, 'waiter'), xxx@xxx.xxx %></p>
			
	<p>
		<b>Prerequisite:</b>
xxx@xxx.xxx %>
	</p>
	
	<p>
		<b>Description:</b>
xxx@xxx.xxx %>
	</p>
	
	<p>
		<b>Next Course:</b>
xxx@xxx.xxx %>
	</p>
	
	<p>
		<b>Required Materials:</b>
xxx@xxx.xxx %>
	</p>
</div>

<%= render 'admin/labs/labs_header' %>
<%= render 'admin/materials/materials_header' %>
<%= render 'admin/tutorials/tutorials_header' %>
<%= render 'admin/objectives/objectives_header' %>
<%= render 'admin/policies/policies_header' %>
<%= render 'admin/books/books_header' %>
<%= render 'admin/websites/websites_header' %>

<div class="block courses">
	<header>
		<h4>Sections</h4>
	</header>

	<ul class="actions">
xxx@xxx.xxx do |section| %>
			<li>
				<% link_text = section.semester.name %>
				<% if section.semester.is_current? %>
					<% link_text = "*#{link_text}" %>
				<% end %>
				<%= link_to link_text, admin_semester_section_path(section.semester,section) %>
			</li>
		<% end %>
	</ul>
</div>
