<%= content_for :header do %>
	<h1>Waiters for</h1>
xxx@xxx.xxx %></h4>
<% end %>

<div class="nav">
	<ul class="nav">
		<li><%= link_to xxx@xxx.xxx do %> <%= render :partial => 'shared/back_link' %> <% end %></li>
	</ul>
</div>

<div class="fancy">
	<table>
	  <tr>
	    <th>Email</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>

xxx@xxx.xxx do |waiter| %>
		  <tr>
		    <td><%= waiter.email %></td>
		    <td><%= link_to 'Show', xxx@xxx.xxx %></td>
		    <td><%= link_to 'Destroy', xxx@xxx.xxx waiter], confirm: 'Are you sure?', method: :delete %></td>
		  </tr>
		<% end %>
	</table>
</div>
