<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
	<!-- <link rel="stylesheet" href="<%= APP_CONFIG['site_url'] %>/assets/application.css" type="text/css" media="screen" title="no title" charset="utf-8"> -->
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body class="email">
	<div id="page">

		<div class="block block--width2 header grid-sizer">
			<header>
				<%= link_to APP_CONFIG['site_url'] do %>
          <p>Email</p>
					<h1><%= APP_CONFIG['site_name'].html_safe %></h1>
				<% end %>
			</header>
		</div>

		<%= yield %>

	</div>
</body>
</html>
